@{
    Layout = null;
}

<div class="ContentHeaderInner">
                   
    <div id="MainMenu" style=" z-index:99999;" >
        
        <div class="menuContHolder">
                <a class="mMenuH">
                    <img alt="" src="/imgs/mMenuH.png" style=" float:left; margin:8px 0 0 10px;"  onclick="ShowMenuH();" />
                </a>

                <div id="MenuHSubCont">
                    <div id="MenuHSub" style=" background-color:#232323; border-radius:3px;">
                    
                        <a class="MenuHSubItm" href="/m/mhome" style=" line-height:200px;">
                            <span style=" font-size:26px;">HOME</span>
                        </a>

                        <a class="MenuHSubItm" href="/m/mcreate/playlist?rtg=hm1">
                            <img alt="Create Playlist" src="/imgs/hypMenu/create_playlist.png" /><br />
                            <span>Create/Listen Playlists</span>
                        </a>

                        <a class="MenuHSubItm" href="/m/mcreate/player?rtg=hm1">
                            <img alt="Create Player" src="/imgs/hypMenu/create_player.png" /><br />
                            <span>Create Player</span>
                        </a>


                        <a class="MenuHSubItm" href="/m/mfeatured?rtg=hm1">
                            <img alt="Listen Popular Playlists" src="/imgs/hypMenu/listen_popular.png" /><br />
                            <span>Listen Featured Playlists</span>
                        </a>


                        <div style=" float:left; width:100%; height:33px;">
                            <div style=" float:right; width:120px; text-align:center; color:#343434; margin:5px 8px 0 0; font-size:16px; cursor:pointer; font-weight:bold; background-color:#FFA910; padding:1px 10px 1px 10px; border-radius:3px;" onclick="HideMenuH();" ><<< BACK</div>
                        </div>

                    </div>
                </div>
        </div>





        <div class="hypContHolder">
            <a class="mHypster" href="/m/mhome" >Hypster</a>
        </div>


        <div class="listenContHolder">
            <a class="mListen" href="/m/mlisten">Listen</a>
        </div>


        <div class="createContHolder">
            <a class="mCreate" href="@if (User.Identity.IsAuthenticated) {<text>/m/mcreate/playlist</text>}else {<text>/m/mcreate</text>}">Create</a>
        </div>


        <div class="connectContHolder">
            <a class="mConnect" href="/m/mfeatured">Discover</a>
        </div>


        

        <div onclick="opnActMenu();" style=" float:right; width:50px; height:28px; line-height:28px; cursor:pointer; margin-top:37px; margin-right:1px; text-align:center;">
            <img alt="Account" src="/imgs/account/mAcctIcn.png" />
        </div>


        <div id="acctAdMenu" style=" display:none; float:right; min-width:320px; height:28px; margin:34px 10px 0 0; padding:0 8px 0 8px; border-radius:2px; ">
            @Html.Partial("~/Areas/m/Views/maccount/pr_LoginStatus.cshtml")
        </div>

    </div>
                    
</div>








<script type="text/javascript">
    $(window).resize(function () {
        if (menuHOpened == true) {
            menuHOpened = false;
            ShowHideMenuH();
        }
    });


    function opnActMenu() {

        if ( $("#acctAdMenu").css('display') == 'none') {
            $(".hypContHolder").css('display', 'none');
            $(".listenContHolder").css('display', 'none');
            $(".createContHolder").css('display', 'none');
            $(".connectContHolder").css('display', 'none');

            $("#acctAdMenu").css('display', 'block');
        }
        else {
            $(".hypContHolder").css('display', 'block');
            $(".listenContHolder").css('display', 'block');
            $(".createContHolder").css('display', 'block');
            $(".connectContHolder").css('display', 'block');

            $("#acctAdMenu").css('display', 'none');
        }
    }
</script>