@{
    ViewBag.Title = "Unsibscribe";
    ViewBag.Desc = "";
}

<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">




            <div style=" float:left; width:1024px; " >

                <div style=" float:left; width:680px; min-height:250px; background-color:#292929; border-radius:3px; border-radius:2px; text-align:left; padding:10px;">
            
                    <div style=" float:left; width:95%; margin:5px 0 0 20px;">            
                        @using (Html.BeginForm())
                        {
                            <div style=" float:left; width:100%; text-align:left;">
                                
                                <div style=" font-size:27px;">
                                    Unsibscribe
                                </div>
                                
                                <div style=" margin-top:10px;">
                                    @ViewBag.result
                                </div>
                            </div>
                        }
                    </div>

                </div>


                <div class="BoxCont300x250" style=" float:right;">
                    <div style=" float:left; width:300px; height:250px; margin:0 0 0 15px; background-color:#292929; border:10px solid #292929;">

                        <div id="SideAd1d982372w" class="AdCont300x250">
                            @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")
                        </div>
                        <!-- 06_25 -->
                        
                    </div>
                </div>


            </div>




    </div>
</div>