@{
    ViewBag.Title = "Hypster - как создать плейлист для Tumblr";
    ViewBag.Desc = "";

    Layout = "~/Areas/ru/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        RenderHowToUse();
    });
    $(window).resize(function () {
        RenderHowToUse();
    });
</script>







<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:630px;">
            
            <div style=" float:left;">
                    <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088; ">
                        Шаг 1 - начать поиск песни
                    </div>
                    <img alt="" src="/imgs/how_to_use/step_1.jpg" style=" margin:10px 5px 0 0; background-color:#1c1c1c; border-radius:3px;" />
            </div>

     </div>
</div>







<div class="boxContLeft">
    <div id="listenSlide1" class="slideLeft" style=" min-height:630px;">
            
            <div style=" float:right; width:1010px;">
                    <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                        Шаг 2 - добавить песню в список воспроизведения
                    </div>
                    <img alt="" src="/imgs/how_to_use/step_2.jpg" style=" margin:10px 0 0 0; background-color:#667278; border-radius:3px;" />


                    <div style=" float:left; width:100%; margin-top:7px;">
                        <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">
                            Пойти на верх
                        </div>
                    </div>
            </div>

    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide2" class="slideRight" style=" min-height:630px;">
        
            <div style=" float:left;">
                    <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                        Шаг 3 - добавить песню в плейлист. Выберите плейлист и сохраните песню. <br />
                        Вы можете выбрать опцию для продолжения поиска или пойти в свои плейлисты.
                    </div>
                    <img alt="" src="/imgs/how_to_use/step_3.jpg" style=" margin:10px 5px 0 0; background-color:#1c1c1c; border-radius:3px;" />
            </div>

    </div>
</div>







<div class="boxContLeft">
    <div id="listenSlide3" class="slideLeft" style=" min-height:630px;">

            <div style=" float:right; width:1010px;">
                    <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                        Шаг 4 - Здесь вы можете управлять своими песнями или перейти к разделу создать плеер.
                    </div>

                    <img alt="" src="/imgs/how_to_use/step_4.jpg" style=" margin:10px 5px 0 0; background-color:#667278; border-radius:3px;" />


                    <div style=" float:left; width:100%; margin-top:7px;">
                        <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">
                            Пойти на верх
                        </div>
                    </div>
            </div>

    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide4" class="slideRight" style=" min-height:630px;">
        
            <div style=" float:left;">

                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                    Шаг 5 - Перейти в раздел "создать плеер" и выбрать тип плеера.
                </div>
                <img alt="" src="/imgs/how_to_use/step_5.jpg" style=" margin:10px 5px 0 0; background-color:#1c1c1c; border-radius:3px;" />
            </div>

    </div>
</div>





<div class="boxContLeft">
    <div id="listenSlide5" class="slideLeft" style=" min-height:630px;">

            <div style=" float:right; width:1010px;">
                    <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                        Шаг 6 - Выберите настройки и нажмите кнопку "Получить код".
                    </div>

                    <img alt="" src="/imgs/how_to_use/step_6.jpg" style=" margin:10px 0 0 0; background-color:#667278; border-radius:3px;" />


                    <div style=" float:left; width:100%; margin-top:7px;">
                        <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">
                            Пойти на верх
                        </div>
                    </div>
            </div>

    </div>
</div>

    
   


