
@import url(http://fonts.googleapis.com/css?family=Lato:300,900);


html
{
	scrollbar-face-color:#777777;
	scrollbar-base-color:#777777;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#313537;
	scrollbar-shadow-color:#777777;
	scrollbar-highlight-color:#777777;
	scrollbar-3dlight-color:#666666;
	scrollbar-darkshadow-Color:#666666;
	
	height: 100%;
	
	
	font-family: 'Lato', sans-serif;
}



/*----------------------------------------------*/
 .shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
 }
/*----------------------------------------------*/









/*----------------------------------------------*/
body {
    font-size: .85em;
    font-family:'Lato', sans-serif; 
    font-weight:lighter;
    color:#EEEEEE;
    
    /*background: #466472 url(/imgs/main_doc_back_ski.jpg) no-repeat;*/
    background-color:#efefef;
    margin:0px; 
    padding:0px;
    
    
    width:100%;
    height: 100%;
    /*min-width:1040px;*/
}



header, footer, nav, section {
    display: block;
}

img
{
	border:0px;
}

.MainBD13
{
	float:left; width:100%; min-width:400px; min-height: 730px; height: auto !important; height: 100%; margin-bottom:25px;
}





.Trans_BACK {
     background:#000000;
     
     filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
     opacity: 0.90;
     -moz-opacity:0.90;
     position:absolute;
     
     display:none; z-index:100000; position:absolute; top:0px; left:0px; width:1px; height:1px;
}

div.Trans_75
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
    opacity: 0.75;
    -moz-opacity:0.75;
}

#popupContainer
{
	display:none; z-index:100001; position:absolute; top:0px; left:0px; text-align:center;
}

#popupContainer_PopupPlayer
{
	display:none; z-index:100001; position:absolute; top:0px; left:0px; text-align:center;
}
/*-----------------------------------------------------------*/





















::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #FFFFFF;
    }
::-webkit-scrollbar-thumb {
    background: #d6d4dd;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-corner {
    background: #FFF;
}



element {
    -webkit-overflow-scrolling: touch;
}

element > * {
    -webkit-transform: translateZ(0px);
}

element > * {
    -webkit-transform: translate3d(0,0,0);
}




.srclArea1
{
    float:left;
    width:100%;
    height:708px;
    overflow-x:scroll;
}


.MainRootCont
{
	margin:auto;
	width:100%;
}



.MainNHypPlayer
{
	float:left;
	background:#456372 url(/imgs/main_doc_back_ski.png) no-repeat;
}


.MainNHypPlayer #MainContHolder
{
	float:left; width:100%; margin:0 0 0 0;
}


.MainNHypPlayer .MainPlayerHoder
{
	float:left; width:93%; margin:1% 3.5% 1% 3.5%; height:230px; /*background-color:#CC0000; border:3px solid #000000;*/
}

.MainNHypPlayer .MainAdsHoder
{
	float:left; width:309px;
}


.MainNHypPlayer .AdUntL
{
	float:left; width:300px; height:250px; background-color:#000000; border:2px solid #000000; border-radius:3px; margin:5px 0 0 0;
}

.MainNHypPlayer .AdUntR
{
	float:left; width:300px; height:250px; background-color:#000000; border:2px solid #000000; border-radius:3px; margin:5px 0 0 0px;
}






.MainNHypPlayer .MainPlaylistHolder
{
	float:left; width:93%; height:311px;
	/*border:3px solid #000000;*/
	border-radius:3px; 
	/*margin:0.5%;*/
	margin:0 0  0 3.5%;
}

.MainNHypPlayer #PlayerPlaylistHolder1
{
	float:left; width:100%; height:307px; overflow:auto; margin-top:2px;
}

.MainNHypPlayer #dr_PlaylistList
{
	float:left; width:98%; height:30px; line-height:30px; margin:1px 1px 3px 1px; font-size:20px;  background-color:#323232; color:#EDEDED; border:none;
	
}




.MainNHypPlayer .playlistItemC
{
	float:left; width:98.5%; height:100px; overflow:hidden; margin:0 0 2px 2px; border-bottom:2px solid #e5e3e3;
}



.MainNHypPlayer .playlistItemC img
{
	float:left; width:100px; height:75px; margin:12px 0 0 10px; border-radius:3px; cursor:pointer;
}
.MainNHypPlayer .playlistItemC .songTtl
{
	float:left; 
	/*width:240px;*/ 
	width:68%;
	height:28px; line-height:28px; overflow:hidden; margin-left:17px; margin-top:34px; cursor:pointer; font-size:18px; color:#202020;
}




.MainNHypPlayer .MainTopHeader
{
	float:left; width:100%; height:32px; background-color:#000000;
}
.MainNHypPlayer .SocialHolder
{
	float:right; min-width:300px; margin:4px 0 0 3px;
}



.MainNHypPlayer #player
{
	float:left; width:100%; height:250px;
}

.MainNHypPlayer .ControlBar
{
	float:left; width:100%; height:42px; margin:3px 0 0 0; /*background-color:#000000; border-top:2px solid #000000;*/
	overflow:hidden;
}




.MainNHypPlayer #Prev_btn
{
	float:left; width:38px; height:38px; line-height:35px; margin:2px 4px 2px 110px; background:#FFFFFF url('/imgs/wthlz/prev_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #PlPs_btn
{
	float:left; width:38px; height:38px; line-height:32px; margin:2px 4px 2px 2px; background:#FFFFFF url('/imgs/wthlz/play_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #Next_btn
{
	float:left; width:39px; height:38px; line-height:32px; margin:2px 4px 2px 2px; background:#FFFFFF url('/imgs/wthlz/next_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #Shuffle_btn
{
	float:left; width:39px; height:38px; line-height:32px; margin:2px 4px 2px 2px; background:#FFFFFF url('/imgs/wthlz/shuffle_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}




.MainNHypPlayer #Mute_btn_cont
{
    float:left; width:39px; height:38px; line-height:32px; margin:2px 4px 2px 2px; background:#FFFFFF; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #Mute_btn
{
	float:left; width:39px; height:38px; line-height:32px; background:#FFFFFF url('/imgs/wthlz/mute_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #VolumeControl
{
    float:left; width:43px; height:5px; margin-top:14px; background-color:#656565; cursor:pointer;
}

.MainNHypPlayer #VolumeControlVal
{
    float:left; width:85%; height:5px; background-color:#e80389;
}





.MainNHypPlayer #AddNSongBtn
{
	float:right; width:41px; height:38px; line-height:34px; margin:0px; background: url('/imgs/player/add_to_playlist_icn.jpg') no-repeat center; border-radius:0px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #LikePlaylist
{
	float:left; height:38px; line-height:38px; margin:2px 8px 2px 2px; background:#242424; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold; 
}











/* +++++++ OLD PLAYER ++++++++++ */
.MainTopCont
{
	width:100%; height:40px; margin-top:5px;
}

.MainTopCont .MainTopInnr
{
	float:left; width:473px; height:31px; padding:2px; background-color:#282828; margin:5px 0 0 13px; border-radius:2px;
}

.MainTopCont #AddBtn
{
	display:none; float:left; width:170px; height:22px; padding:2px; background-color:#ffa910; margin:2px 0 0 3px; border-radius:2px; color:#000000; font-size:16px; line-height:21px; text-align:center; cursor:pointer;
}

.MainMidCont
{
	width:910px; height:560px;
}

.MainMidCont .MainMidInnr
{
	float:left; width:560px;
}

.MainMidCont .PlayerRoot
{
	float:left; width:475px; height:545px; background-color:#282828; border:1px solid #282828; border-radius:2px; margin:-3px 0px 0px 13px;
}

.MainMidCont #HypsterOriginalPlayer
{
	float:left;
}

.MainMidCont .SocialCont
{
	float:left; width:45px; height:220px; margin-top:20px; background-color:#282828; border:3px solid #282828; border-radius:4px; margin-left:-4px;
}

.MainMidCont .AdsCont
{
	float:left; width:350px; height:533px;
}

.MainMidCont .AdsCont .Ad1
{
	float:left; width:300px; height:250px; overflow:hidden; padding:2px; background:#555555 url('/imgs/box_back.png') repeat; border-radius:2px; margin-top:5px; margin-left:14px;
}

.MainMidCont .AdsCont .Ad2
{
	float:left; width:300px; height:250px; overflow:hidden; padding:2px; background:#555555 url('/imgs/box_back.png') repeat; border-radius:2px; margin-top:30px; margin-left:14px;
}
/* +++++++ OLD PLAYER ++++++++++ */




.plstItem_Sel
{
	float:left; width:98.5%; height:44px; overflow:hidden; background-color:#292929; margin:0 0 2px 2px; border-radius:2px;
	
	background: #ec9800; /* Old browsers */
	background: -moz-linear-gradient(top, #ec9800 0%, #d88700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9800), color-stop(100%,#d88700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ec9800 0%,#d88700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ec9800 0%,#d88700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ec9800 0%,#d88700 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ec9800 0%,#d88700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9800', endColorstr='#d88700',GradientType=0 ); /* IE6-9 */
}



.NsongsMsg
{
	float:left; width:98%; height:23px; line-height:23px; overflow:hidden; margin:0px 4px 3px 4px; padding-left:3px; background-color:#454545; border-radius:2px; text-align:left; cursor:pointer; 
}



.skpSngBtn
{
	float:right; width:30px; height:35px; margin-right:3px; background-color:#131313; line-height:35px; color:#d88700; font-size:12px; border-radius:2px; cursor:pointer; text-align:center;
	margin-top:4px;
}


.mplSendFeedback
{
    float:right; min-width:150px; height:29px; margin:2px 2px 0 0; background-color:#343434; border-radius:3px; cursor:pointer;
}

.mplSendFeedback img
{
    float:left; margin:2px 0 0 2px;
}

.mplSendFeedback div
{
    float:left; margin:5px 4px 0 3px; color:#80ba17;
}






.mplViewsNB
{
    float:left; height:29px; margin:2px 2px 0 0; background-color:#343434; border-radius:3px; cursor:pointer;
}
.mplLikesNB
{
    float:left; height:29px; margin:2px 2px 0 0; background-color:#343434; border-radius:3px; cursor:pointer;
}


#LikeNSave
{
    float:left; min-width:10px; margin:5px 1px 0 7px; font-size:14px; color:#80ba17; cursor:pointer;
}
#LikeNumContH
{
    float:left; min-width:10px; margin:5px 4px 0 2px; font-size:14px; color:#80ba17; cursor:pointer; text-align:left; font-weight:bold;
}


#ViewsNSave
{
    float:left; min-width:10px; margin:5px 1px 0 6px; font-size:14px; color:#80ba17; cursor:pointer;
}
#ViewsNumContH
{
    float:left; min-width:10px; margin:5px 4px 0 2px; font-size:14px; color:#80ba17; cursor:pointer; text-align:left; font-weight:bold;
}





.AddSongPlstBtn
{
    width:30px;
}