@model hypster.ViewModels.TagsLangingViewModel
@{
    ViewBag.Title = "Hypster Tags";
    ViewBag.Desc = "Hypster Tags";
}






<div class="breakingMCH">
   

   <h2 class="brkngHDR">#BREAKING</h2>


    <div id="tagsHolder">
                
        <div class="sld1_bottomCont" >
            <div class="sld1_bottomContInnr" style=" margin:0px;">

                <div class="brkSrchHolder1">
                    <input type="text" id="txtSearchString" name="txtSearchString" style=" width:550px; " value=" Search playlists and #BREAKING news stories" onKeyUp="SearchString_KeyUpTags(event)" onfocus="if(this.value == ' Search playlists and #BREAKING news stories') this.value = '';" onblur="if(this.value == '') this.value = ' Search playlists and #BREAKING news stories';" />
                    <div id="btnSearch" onclick="StartTagsSearch()"></div>
                </div>
                    
            </div>
        </div>

        <div id="searchStr"></div>
    </div>


</div>







<div style=" float:left; width:100%; margin:30px 0 30px 0;">
        

        <div style=" float:left; width:102%; border-radius:3px; margin:2px 0 5px -2%; ">
            <h2 style=" float:right; width:1024px; padding:7px 0 7px 0; margin:0px; color:#d4ae52; font-weight:300; ">PLAYLISTS AND #BREAKING</h2>
        </div>

        <div style=" float:right; width:1024px;">



                <div class="tagsSResCH" style=" float:left; @if(Model.posts_list.Count < 5) { <text>width:685px;</text> }else{<text>width:339px;</text>} ">

            
                        <div class="PopularPlstsCont">
                            @foreach (var item in Model.playlists_list)
                            {
                                if (item != null)
                                {
                                <div class="PlstItm" onclick="OpenPlayerM('/playlists/user/@item.username?@item.id');" onmouseover="DispPopPlstDetails(this, @item.id, @item.userid);" onmouseout="HidePopPlstDetails(event, this);" >
                                    <div class="PlstTitle">@item.name</div>
                                    <a class="PlstLstn" title="play"></a>
                                </div>
                                }
                            }

                            @if (Model.playlists_list.Count == 0)
                            {
                                <div class="PlstItm">
                                    <div class="PlstTitle">Playlists Not Found</div>
                                </div>
                            }
                        </div>

                
                        <div id="PP_PlstPreview">
                            <div class="LdingPrev">Loading...</div>
                        </div>

                </div>



                <div class="newsSResCH" style=" float:left; @if (Model.posts_list.Count > 5){ <text>width:685px;</text> }else{<text>width:339px;</text>} ">
            

                        <div class="PopularPlstsCont">
                            @foreach (var item in Model.posts_list)
                            {
                                if (item != null)
                                {
                                <div class="brkngItm" onclick="window.location='/breaking/details/@item.post_guid';">
                                    
                                    <div style=" width:100%; height:180px; background-image:url('http://news.hypster.com/imgs/i_posts/@item.post_image'); background-repeat:no-repeat;">
                                    </div>
                                    <div class="txtDItem">@item.post_title</div>

                                </div>
                                }
                            }

                            @if (Model.posts_list.Count == 0)
                            {
                                <div class="PlstItm">
                                    <div class="PlstTitle">#Breaking Not Found</div>
                                </div>
                            }
                        </div>


                </div>


        </div>
</div>








<script type="text/javascript">
    function StartTagsSearch() {
        var ss_str = $("#txtSearchString").val();

        if (ss_str != " Enter Tag Name") {
            ss_str = ss_str.replace(" ", "+");
            ss_str = ss_str.replace("/", "+");
            ss_str = ss_str.replace("\\", "+");
            ss_str = ss_str.replace("&", "+");
            ss_str = ss_str.replace("$", "+");
            ss_str = ss_str.replace("?", "+");
            ss_str = ss_str.replace("!", "+");
            window.location = "/tags/" + ss_str;
        }
    }
</script>