@{
    ViewBag.Title = "Follow Gamers on Hypster";
    ViewBag.Desc = "Watch free gaming streams from popular gamers in our Gamers Rewards program, see them on Twitch TV.";
    
    ViewBag.ActivePage = "hypster";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";

    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com/gamehype\" >";
}

<script>
    document.body.style.backgroundColor = "#000000";

    $(document).ready(function () {
        $(".MSCGAM").css("color", "#FFFFFF");
    });
</script>


<div class="GamehypeCh1">
    

    <div class="GmhTitle" onclick=" window.location='/apps/appGamehype';">
        GAMEHYPE
    </div>



  

    <div class="GmhTblCont">
    
        
        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">BestRivenNA</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/BestRivenNA.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/BestRivenNA';">VIEW STREAM</div>
            </div>
        </div>



        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">BoxBox</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/Flosd.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/BoxBox';">VIEW STREAM</div>
            </div>
        </div>


        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">Ellohime</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/Ellohime.jpg"  />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/Ellohime';">VIEW STREAM</div>
            </div>
        </div>


        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">OxiChampion</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/OxiChampion.jpg"  />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/OxiChampion';">VIEW STREAM</div>
            </div>
        </div>

  

        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">Smoovez</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/Smoovez.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/Smoovez';">VIEW STREAM</div>
            </div>
        </div>


        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">Dakotaz</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/Dakotaz.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/Dakotaz';">VIEW STREAM</div>
            </div>
        </div>


        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">Noobcake86</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/greenman.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/appGamehype/stream/Noobcake86';">VIEW STREAM</div>
            </div>
        </div>



        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">DNKu123</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/dnku.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/AppGamehype/stream/DNKu123';">VIEW STREAM</div>
            </div>
        </div>



        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">CJ_Zeed</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/zeed.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/AppGamehype/stream/CJ_Zeed';">VIEW STREAM</div>
            </div>
        </div>





        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">ZeeooN</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/ZeeooN.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/AppGamehype/stream/ZeeooN';">VIEW STREAM</div>
            </div>
        </div>




        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">Bowsersaurus</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/Bowsersaurus.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/AppGamehype/stream/Bowsersaurus';">VIEW STREAM</div>
            </div>
        </div>




        <div class="GmContH">
            <div class="GmBox1">
                <div class="GmBoxHdr">totemtoe</div>
            
                <img alt="" src="/imgs/gamehype/gimgs/totemtoe.jpg" />

                <div class="GmBoxVS" onclick="window.location='/apps/AppGamehype/stream/totemtoe';">VIEW STREAM</div>
            </div>
        </div>




    </div>




    
    <div class="GmhBottomCont" style=" margin-bottom:30px;" onclick="window.location='/apps/appHypster/Gamers_Rewards_Program';">
        <div>GAMERS REWARDS PROGRAM</div>
        <span>CLICK TO JOIN</span>
    </div>
  


   
</div>