@{
    ViewBag.Title = ViewBag.StreamName + " Gaming Stream on Twitch TV";
    ViewBag.Desc = "Follow gamer " + ViewBag.StreamName + " on Twitch TV and listen to " + ViewBag.StreamName + "'s free custom music playlist.";
    
    ViewBag.ActivePage = "hypster";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";


    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com/gamehype/stream/" + ViewBag.StreamName + "\" >";
}



<script>
    document.body.style.backgroundColor = "#000000";

    $(document).ready(function () {
        $(".MSCGAM").css("color", "#FFFFFF");
    });
</script>




<div class="GmhStmLeft1">


    <div class="StmHdr1">
        <div class="StmHdrInn1">
            <a class="plstBtn1" href="/apps/appPlaylists/user/@ViewBag.HypName" >PLAYLIST</a>
        </div>
    </div>


    <div class="StmCnt1">
        <div><h2>@ViewBag.StreamName</h2></div>
        <iframe id="hypStreamMW1" src="http://www.twitch.tv/@ViewBag.StreamName/embed" frameborder="0" scrolling="no" width="100%" ></iframe>
        <a id="hypStreamlink" href="http://www.twitch.tv/@ViewBag.StreamName?tt_medium=live_embed&tt_content=text_link" target="_blank" >Watch live video from @ViewBag.StreamName on www.twitch.tv</a>
    </div>

</div>





<div class="GmhStmRight1">
    <iframe src="http://www.twitch.tv/@ViewBag.StreamName/chat?popout=" frameborder="0" scrolling="no" width="100%" height="500" ></iframe>
</div>