@model List<hypster.ViewModels.chartViewModel>
@{
    ViewBag.Title = "Чарты";

    Layout = "~/Areas/ru/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    active_menu = ".mListen";
    $(".mListen").css("background-color", "#191919");

    $(document).ready(function () {
        RenderCharts();
    });
    $(window).resize(function () {
        RenderCharts();
    });
</script>









@{ int i_counter = 0; }

@foreach (var item in Model)
{   
    <div class="chartHoldCont" @if(i_counter == 0){<text>style=" margin-top:-20px;"</text>}>
        @{ Html.RenderPartial("~/Areas/ru/Views/Чарты/BuildChart.cshtml", item); }
    </div>
    
    i_counter += 1;
}






<div class="boxContRight">
    <div class="slideRight" style=" min-height:45px;">
            
            @if (ViewBag.prevPageID > 0)
            {
                <input id="Charts_PrevPage" type="button" onclick="window.location='/ru/Чарты/page/@ViewBag.prevPageID';" value="Пред. Страница" />
            }

            @if (ViewBag.nextPageID > 0)
            {
                <input id="Charts_NextPage" type="button" onclick="window.location='/ru/Чарты/page/@ViewBag.nextPageID';" value="След. Страница" />
            }

    </div>
</div>










