@model List<hypster_tv_DAL.CoverContest>
@{
    ViewBag.Title = "Hypster Cover Contest";
    ViewBag.Desc = "Hypster Cover Contest";
    ViewBag.ActivePage = "contest";
}






<div style=" float:left; width:100%; margin:20px 0 20px 0;">
        
    @Html.Partial("~/Views/hypAds/ad_728x90.cshtml")
        
</div>


