@model List<hypster_tv_DAL.newsPost>
@{
    Layout = null;
}

<div class="breakingMCH_Home">
    <div class="hmBrkTitle" onclick="window.location='/apps/appBreaking';">@ViewBag.Title</div>
    <div class="breakingMCH_MC">
        <div style="float:left;width:100%;height:180px;overflow:hidden;">
            <div class="arrLeft">&nbsp;</div>
            <div id='@ViewBag.ID' class="newsContHH1">
                <div class="newsContHHInn">
                    @for (int i = 0; i < ViewBag.Length; i++)
                    {
                        if (i < Model.Count)
                        {
                            <div class="brkngItmGenre" onclick="window.location='/apps/appBreaking/details/@Model[i].post_guid';">
                                <div class="brkngItmPost" style="background-image:url('http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_posts/@Model[i].post_image');"></div>
                                <div class="brkngItmTitle">@Model[i].post_title</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="arrRight">&nbsp;</div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var SRL_POS_@ViewBag.ID = 0;
            var curr_width = $(window).width();
            $("#@ViewBag.ID").scrollLeft(SRL_POS_@ViewBag.ID);
            var setUnit = 0;
            var setWidth = 0;
            if (curr_width > 1024)
            {
                //appSite2
                setWidth = 1040;
                setUnit = 5;
            }
            else
            {
                if (curr_width < 420)
                {
                    //appSite0
                    setWidth = 358;
                    setUnit = 2;
                }
                else if (curr_width >= 420 && curr_width <= 650)
                {
                    //appSite05
                    setWidth = 600;
                    setUnit = 3;
                }
                else
                {
                    //appSite1
                    setWidth = 800;
                    setUnit = 4;
                }
            }
            var width = @ViewBag.Length * (setWidth / setUnit);
            $(".breakingMCH_Home #@ViewBag.ID .newsContHHInn").width(width);
            if ($(".breakingMCH_Home #@ViewBag.ID .newsContHHInn").width() <= setWidth)
            {
                $(".breakingMCH_Home #@ViewBag.ID .newsContHHInn").parent().siblings().hide();
            }
            $("#@ViewBag.ID").siblings("div.arrLeft").click(function () {
                SRL_POS_@ViewBag.ID -= setWidth;
                $("#@ViewBag.ID").siblings("div.arrRight").show();
                if (SRL_POS_@ViewBag.ID < 0)
                {
                    SRL_POS_@ViewBag.ID = 0;
                    $(this).hide();
                }
                $("#@ViewBag.ID").animate({ scrollLeft: SRL_POS_@ViewBag.ID }, 700);
            }),
            $("#@ViewBag.ID").siblings("div.arrRight").click(function () {
                SRL_POS_@ViewBag.ID += setWidth;
                $("#@ViewBag.ID").siblings("div.arrLeft").show();
                if (SRL_POS_@ViewBag.ID > width)
                {
                    SRL_POS_@ViewBag.ID = width;
                    $(this).hide();
                }
                $("#@ViewBag.ID").animate({ scrollLeft: SRL_POS_@ViewBag.ID }, 700);
            })
        });
    </script>
</div>
