@model List<hypster_tv_DAL.newsPost>
@{
    Layout = null;
    int OFFSET = 0;
}

<div class="breakingMCH_Home">
    <div class="hmBrkTitle" onclick="window.location='/apps/appBreaking';">NEWS</div>
    <div class="breakingMCH_MC">
        <div style="float:left;width:100%;height:180px;overflow:hidden;">
            <div class="arrLeft">&nbsp;</div>
            <div id="newsContHH1">
                <div id="newsContHHInn">
                    @for (int i = 0; i < 15; i++)
                    {
                        if (i < Model.Count)
                        {
                            <div class="brkngItmBlk" onclick="window.location='/apps/appBreaking/details/@Model[i].post_guid';">
                                <div class="brkngItmPost" style="background-image:url('http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_posts/@Model[i].post_image');"></div>
                                <div class="brkngItmTitle">@Model[i].post_title</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="arrRight">&nbsp;</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var SRL_POS = @(OFFSET);
        var curr_width = $(window).width();
        $("#newsContHH1").scrollLeft(SRL_POS);
        var setUnit = 0;
        var setWidth = 0;
        if (curr_width > 1024)
        {
            //appSite2
            setWidth = 1040;
            setUnit = 5;
        }
        else
        {
            if (curr_width < 420)
            {
                //appSite0
                setWidth = 358;
                setUnit = 2;
            }
            else if (curr_width >= 420 && curr_width <= 650)
            {
                //appSite05
                setWidth = 600;
                setUnit = 3;
            }
            else
            {
                //appSite1
                setWidth = 800;
                setUnit = 4;
            }
        }
        var maxWidth = 15 * setWidth / setUnit;
        if ($("#newsContHHInn").width() <= setWidth)
        {
            $("#newsContHHInn").parent().siblings().hide();
        }
        $("#newsContHH1").siblings("div.arrLeft").click(function () {
            SRL_POS -= setWidth;
            $("#newsContHH1").siblings("div.arrRight").show();
            if (SRL_POS < 0) 
            {
                SRL_POS = 0;            
                $(this).hide();
            }
            $("#newsContHH1").animate({ scrollLeft: SRL_POS }, 700);
        }),
        $("#newsContHH1").siblings("div.arrRight").click(function () {
            SRL_POS += setWidth;
            $("#newsContHH1").siblings("div.arrLeft").show();
            if (SRL_POS >= maxWidth)
            {
                SRL_POS = maxWidth;
                $(this).hide();
            }
            $("#newsContHH1").animate({ scrollLeft: SRL_POS }, 700);
        })
    });
</script>