@model List<hypster_tv_DAL.newsPost>
@{
    ViewBag.Title = "Breaking News about Music and Popular Artists";
    ViewBag.Desc = "Find breaking news about music and popular artists, enjoy a free custom playlist with each article.";
    ViewBag.ActivePage = "News";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";

    int counter = 0;
    int i_start = 1;
    if ((ViewBag.CurrPage - 4) >= 1)
    {
        i_start = ViewBag.CurrPage - 4;
    }
    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com/breaking\" >";
}


<div class="breakingMCH">
    <h2 class="brkngHDR">NEWS</h2>




    <div style=" float:left; width:100%; margin:20px 0 0 0;">
    @{int ad_pos = 0;}
    @for (int i = ViewBag.CurrPage_Start; i < ViewBag.CurrPage_End; i++)
    {
        if (ad_pos == 2)
        {
            <div class="brkngItmCH">
                <div class="brkngItm">
                    <div style=" float:left; margin:7px 0 0 5px;">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")
                    </div>
                </div>
            </div>
        }
        
        if (i < Model.Count)
        {
            <div class="brkngItmCH">
                <div class="brkngItm" onclick="window.location='/apps/appBreaking/details/@Model[i].post_guid';">
                        
                    <div style=" width:100%; height:180px; background-image:url('http://news.hypster.com/imgs/i_posts/@Model[i].post_image'); background-repeat:no-repeat;">
                    </div>

                    <div class="txtDItem">@Model[i].post_title</div>
                </div>
            </div>
        }

        ad_pos += 1;
    }
    </div>




</div> 

 








<div class="brkPagingCH1">
            
    <div class="brkngPagingCH">
        @for (int i = i_start; i <= ViewBag.NumOfPages; i++)
        {
            <a class="paging_Page" style="@if (i == ViewBag.CurrPage){ <text>background-color:#18ae7b; color:#FFFFFF;</text> }else{ <text>background-color:#FFFFFF; color:#d4ae52;</text> } " href="/apps/appBreaking/page/@i">@i.ToString()</a>
                    
            counter++;

            if (counter > 6)
            {
                <a class="paging_Page" style="background-color:#FFFFFF; color:#d4ae52; " href="/apps/appBreaking/page/@(i+1)">></a>
                break;
            }
        }       
    </div>

</div>


