@model List<hypster_tv_DAL.newsPost>
@{
    ViewBag.Title = "#Breaking Tags";
    ViewBag.Desc = "#Breaking Tags";
    ViewBag.ActivePage = "#Breaking";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}



<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight" style=" min-height:728px; ">
        
        

        <div class="breakingMCH">

            <h2 class="brkngHDR">&nbsp;#BREAKING</h2>


            <div class="sld1_bottomCont">
                <div class="sld1_bottomContInnr" style=" background-color:#202020;">
                    
                        <input type="text" id="txtSearchString" name="txtSearchString" value=" Enter Artist, Song or Genre" onKeyUp="SearchString_KeyUpTags(event)" onfocus="if(this.value == ' Enter Artist, Song or Genre') this.value = '';" onblur="if(this.value == '') this.value = ' Enter Artist, Song or Genre';" style="float:left; width:223px; height:39px; margin:11px 0 0 8px; border-radius:3px; border:none; font-size:14px;" />
                        <div id="btnSearch" onclick="StartMusicSearchTags()"></div>
                        <div id="srRes1"></div>
                       
                </div>
            </div>


            <div id="tagsHolder">
                @Html.Action("GetPopularNewsTags_PR", "appBreaking")
            </div>





            @if (Model != null && Model.Count > 0)
            {
            
                for (int i = 0; i < Model.Count; i++)
                {
                    <div class="brkngItm" onclick="window.location='/apps/appBreaking/details/@Model[i].post_guid';" style="background-image:url('http://news.hypster.com/imgs/i_posts/@Model[i].post_image');">
                        <div>@Model[i].post_title</div>
                    </div>
                
                    if (i == 30)
                    {
                        break;
                    }
                }
            }


        </div> 

 </div>
</div>



