
@if (Request.IsAuthenticated)
{
    <div class="LoginCont">@Html.ActionLink("Выйти", "LogOff", "Аккаунт")</div>
    <div onclick="window.location='/ru/Аккаунт';" class="LoginAcctCont">Мой Аккаунт</div>
    <div class="LoginPlrCont" onclick="OpenExsPlayer();">Мой Плеер</div>
}
else
{
    <div class="LoginCont">
       <a href="/ru/Аккаунт/Регистрация">Регистрация</a>&nbsp;|&nbsp;<a href="/ru/Аккаунт/Войти">Войти</a> 
    </div>
}
