@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = null;
}



<!-- *************************************CONTENT************************************* -->
<div style="float:left; width:98%; margin:1%;" >
    <div style="float:left; width:100%; margin-top:13px;">



        <div onclick="LoadPlayerCont('/m/mplayer/getPlayer/ClassicPlayer');" style="float:left; margin:5px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_1.png" />
            <div style="font-size:17px; color:#FCF088;">Classic player</div>
        </div>


        <div onclick="LoadPlayerCont('/m/mplayer/getPlayer/RadioPlayer');" style="float:left; margin:5px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_radio.png"  />
            <div style="font-size:17px; color:#FCF088;">Radio player</div>
        </div>
    </div>
</div>
<!-- *************************************CONTENT************************************* -->
