@model List<hypster_tv_DAL.sp_Playlist_GetSongsDeadLinks_Result>
@{
    Layout = null;
}



<script type="text/javascript">
    $(document).ready(function () {
        $("#CleanDeadLinksContPopup1").css("display", "block");
        $("#CleanDeadLinksContPopup1").css("margin-left", (($(window).width() - 870) / 2) + "px");
    });

    function HideAddToPlaylist() {
        window.location.reload();
    }
</script>








<div id="CleanDeadLinksContPopup1">
    

    <div class="ExitBtnCont">
        <img alt="" src="/imgs/exit_button.png" onclick="HideAddToPlaylist();" />
    </div>


    <div class="TopCont">
        &nbsp;@ViewBag.PlaylistName <span style="color:#FFFFFF;"> - please double check to see if these are dead links.</span>
    </div>


    <div class="LeftCont" style="overflow:auto;">
        <div style="float:left; width:98%; margin:1%; overflow:auto; ">


                

                <div id="sortablePlaylist">
                    @{ int i_counter = 0; }
                    @foreach (var item in Model)
                    {
                        if (item.Dead_Link_ID != null)
                        {
                            <div class="srt_itm" id="dl_song_@item.playlist_track_id" style="width:520px;">
                    
                                <div class="SongTitle">
                                    <img class="SongImg" alt="" src="http://i.ytimg.com/vi/@item.YoutubeId/0.jpg" />
                                    &nbsp;@item.Title
                                </div>
                                    
                                <div class="SongItm_Edt" title="Play Song" onclick="OpenPlayerM('/playlists/song/@item.YoutubeId?@HttpUtility.UrlEncode(item.FullTitle)');"></div>
                                <div class="SongItm_Del" title="Delete Song" onclick="Pl_DelDeadLink(@item.playlist_track_id, @ViewBag.ActivePlaylistID);"></div>
                            </div>
                        
                            i_counter = i_counter + 1;
                        }
                    }


                    @if (i_counter == 0)
                    {
                        <div class="srt_itm" id="dl_song_000" style="width:520px;">
                    
                            <div class="SongTitle">
                                No dead links found yet. You need to listen to your playlist in order to detect dead links.
                            </div>
                                    
                        </div>
                    }

                </div>

            
        </div>
    </div>




    <div class="RightCont">
    
            <div id="PlaylistContHoder1">

                <div class="PlaylistTitle">
                    


                    @using (Html.BeginForm("CleanDeadLinksSubmit", "appPlaylist", FormMethod.Post))
                    {
                        if (i_counter > 0)
                        {
                        <input name="PlaylistID" id="PlaylistID" type="hidden" value="@ViewBag.ActivePlaylistID" />
                        <input class="CleanDeadLinksBtn" type="submit" value="Clean All Dead Links" />
                        }
                    }
                    
                    

                </div>

            </div>

    </div>


</div>




<style>    
    #sortablePlaylist { list-style-type:none; margin: 0; padding: 0; float:left; width:100%; margin-bottom:8px; }    
    #sortablePlaylist .srt_itm { float:left;  width:95%; height:57px; border-bottom:1px solid #232323; background-color:#232323; cursor:pointer; overflow:hidden; margin-top:4px; }
</style>
<script type="text/javascript">
    $(function () { $("#sortablePlaylist").sortable(); $("#sortablePlaylist").disableSelection(); });

    $(document).ready(function () {
        $('.srt_itm').mouseover(function () { $(this).css("background-color", "#292929"); });
        $('.srt_itm').mouseout(function () { $(this).css("background-color", "#232323"); });
    });


    function Pl_DelDeadLink(p_song_id, p_playlist_id) {
        if (confirm("Are you sure you want to delete?") == true) {

            $.ajax({
                type: "POST",
                url: "/create/DeleteDeadLink?ACT=delete_song&song_id=" + p_song_id + "&playlist_id=" + p_playlist_id,
                async: true,
                success: function (data) {
                    $("#dl_song_" + p_song_id).css("display", "none");
                }
            });
            
        }
    }
</script>
