/*.zip
userpics/
Backup
.vs
.nuget
hypster.v12.suo
UpgradeLog.htm
Web.config

package.config
*.bak

*.pdb
*.orig
hypster/bin/*.xml
downloads
hypster/imgs/i_posts/*.jpg
hypster/imgs/i_celebs/*.jpg