/*.zip
userpics
Backup
.vs
.nuget
hypster.v12.suo
UpgradeLog.htm
hypster/imgs/home/home_slideshow/
hypster/imgs/i_posts/



Web.config

package.config
*.bak

*.pdb
*.orig
hypster/bin/*.xml
