@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}







<div style=" float:left; width:100%; margin:30px 0 0 0; " >

        <div style=" float:left; width:680px; min-height:250px; padding:10px; border-radius:3px; border-radius:2px; text-align:left; ">
         
            <div style=" float:left; margin:10px 0 0 20px;">
                    <h2>Your Account is activated, try to login, otherwise contact us.</h2>   
            </div>
        
        </div>



        <div style=" float:left; width:300px; height:250px; margin:0 0 0 15px;"></div>
        

</div>

