@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}


<div style="float:left; width:100%; margin:30px 0 0 0;">
    <div style="float:left; width:680px; min-height:250px; border-radius:3px; border-radius:2px; text-align:left; padding:10px;">
        <div style="float:left; width:95%; margin:5px 0 0 20px;">            
        @using (Html.BeginForm())
        {
            <div style="float:left; width:100%; text-align:left;">
                                
                <div style="font-size:27px;">
                    Forgot Password
                </div>
                                
                <div style="margin-top:10px;">
                    <span>User Name</span><br />
                    <input type="text" id="user_name" name="user_name" style="width:400px; height:22px;" />
                    <br /><br />
                    <span style="font-weight:bold;">OR</span><br />
                    <br />
                    <span>Email</span><br />
                    <input type="text" id="email" name="emailAdr" style="width:400px; height:22px; margin-top:5px;" />
                </div>
            </div>
                
                
            <div style="float:left; width:100%; text-align:right;">
                <input type="submit" value="Submit" style="width:150px; height:30px; margin-top:5px;" />
            </div>
        }
        </div>
    </div>

    <div style="float:right;">
        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")
        <!-- 06_25 -->
    </div>
</div>

<script type="text/javascript">
    function validation() {
        
    }
    $(function () {
        $("form").submit(function () {
            if ($("#user_name").val() == "" && $("#email").val() == "") {
                alert("You must at least enter 'User Name' OR 'Email' to recover your password.");
                return false;
            }
            else
                return true;
        });
    });
</script>