@model List<hypster_tv_DAL.ListenHistory>
@{
    ViewBag.Title = "History";
}



<div style=" float:left; width:100%; padding:7px 0 7px 0; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;">
<div style=" float:left; width:100%; height:155px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;">
    

        <div style=" margin:auto; width:1024px; padding:7px 0 0 0; color:#454545; font-size:22px;">
            
            <div style=" float:left; width:835px;  margin:13px 0 0 0;">
                <span style="color:#d4ae52;">YOUR HYPSTER HISTORY</span> Chances are, you've spent hours lost in the wild wonders of our vast music library. What songs have you played? What artists have you found? Most importantly, what discoveries have you made that you don't want to lose once you've logged out? Problem solved. Presenting . . . your own personal Hypster History.
            </div>

            <div style=" float:right; width:200px; height:600px; margin:-14px -15px 0 0; ">
                <div id="tAdUnit1" style=" float:right; margin:14px 10px 0 0; ">
                    
                    @Html.Partial("~/Views/hypAds/ad_160x600.cshtml")
                    
                </div>
            </div>

        </div>

</div>
</div>




<div class="boxContLeft" style=" display:none;" > <!--style=" width:1040px;"-->
    <div class="slideLeft" style=" min-height:448px; "> <!--style=" width:1010px; height:448px;"-->
        

        <div style=" float:right; width:824px; margin:13px 0 0 0;">
        @foreach (var item in Model)
        {
            <a href="@item.ListenHistory_URL" target="_blank" style=" display:block; float:left; width:98%; padding:0 0 0 1%; height:28px; line-height:28px; background-color:#404040; margin:0 0 3px 0; overflow:hidden;">
               <img alt="" src="/imgs/play_icon.png" style=" float:left; margin:6px 0 0 0;">
               <div style=" float:left; margin:0 0 0 6px;">@item.ListenHistory_Title</div>
            </a>
        }
        </div>    

       
        


    </div>
</div>




