
@if (Request.IsAuthenticated)
{
    <div class="LogOutBtn1" onclick=" window.location='/account/LogOff';">LOG OUT</div>
    
    
    <div class="mAcctMCH1" onmouseover="$('#myAcctCH1').css('display','block');" onmouseout="$('#myAcctCH1').css('display','none');">
        <div onclick="window.location='/account';">MY ACCOUNT</div>

        <div id="myAcctCH1">
            <div id="myAcctPlayer1" onclick="OpenExsPlayer('@User.Identity.Name');">MY PLAYER</div>
            <div id="myAcctPlaylists1" onclick=" window.location='/create/playlist?PLST=2';">MY PLAYLISTS</div>
            <div id="myAcctInfo" onclick=" window.location='/account/info';">ACCOUNT INFO</div>
        </div>

    </div>
}
else
{
    <div class="LoginCont">
       <div id="myAcctReg" onclick=" window.location='/account/Register';">REGISTER</div>
       <div id="myAcctLog" onclick=" window.location='/account/SignIn';">LOGIN</div>
    </div>
}

