@model hypster.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";

    AreYouAHuman.AyahServiceIntegration AyahDirect = new AreYouAHuman.AyahServiceIntegration();

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appAccount/Register\" >";
}


<div style="float:left; width:100%;">
    <div style="float:left; width:700px; min-height:800px; background:url('/imgs/account/register_back.png') no-repeat center;">
        <div style="float:left; margin:40px 0 0 100px;">                
            <div style="font-size:65px; color:#FFFFFF; font-weight:bold;">
                Let's get started
            </div>
            <h2 style="float:left; margin:15px 0 13px 15px; padding:5px; color:#FFFFFF; border:1px solid #FFFFFF; font-size:20px; font-weight:300; ">
                &nbsp;&nbsp;Become a member and enjoy free unlimited music&nbsp;&nbsp;
            </h2>
        </div>

        @using (Html.BeginForm("Register", "account", FormMethod.Post))
        {
            <div style="float:left; width:338px; min-height:250px; margin:10px 0 0 190px;">
                <div style="float:left; width:98%; background-color:#FFFFFF; margin-top:1px; padding-left:1%; border-radius:3px;">
                    @Html.ValidationSummary(true, "", new { @class = "txtValidator" })
                </div>

                <div style="float:left; width:100%; height:37px; margin:2px 0 0 0; background-color:#FFFFFF; border-radius:6px; border:1px solid #a1a2a4; overflow:hidden;">
                    <div style="float:left; font-size:16px; margin:7px 0 0 5px; color:#757575;">
                        EMAIL:
                    </div>                                
                    <input type="text" id="email" name="email" value="@ViewBag.email" maxlength="50" style="float:left; width:220px; height:35px; line-height:35px; margin:0 0 0 5px; border:none; outline:none;" />
                </div>

                <div style="float:left; width:100%; height:37px; margin:2px 0 0 0; background-color:#FFFFFF; border-radius:6px; border:1px solid #a1a2a4; overflow:hidden;">
                    <div style="float:left; font-size:16px; margin:7px 0 0 5px; color:#757575;">
                        USERNAME:
                    </div>
                    <input type="text" id="username" name="username" value="@ViewBag.username" class="txtRegister" maxlength="20" onblur="checkUserName()" style="float:left; width:220px; height:35px; line-height:35px; margin:0 0 0 5px; border:none; outline:none;" />
                </div>
            
                <div style="float:left; width:100%; font-size:18px; margin-top:2px;">
                    <div id="checkUserName" style="float:left;"></div>
                    <script type="text/javascript">
                        function checkUserName() {
                            $("#checkUserName").html("");
                        }
                    </script>
                </div>

                <div style="float:left; width:100%; height:37px; margin:0px 0 0 0; background-color:#FFFFFF; border-radius:6px; border:1px solid #a1a2a4; overflow:hidden;">
                    <div style="float:left; font-size:16px; margin:7px 0 0 5px; color:#757575;">
                        PASSWORD:
                    </div>                                
                    <input type="password" id="password" name="password" value="" maxlength="20" style="float:left; width:220px; height:35px; line-height:35px; margin:0 0 0 5px; border:none; outline:none;" />
                </div>

                <div style="float:left; width:100%; min-height:35px; margin-top:2px; background-color:#FFFFFF; border-radius:6px; border:1px solid #a1a2a4;">
                                
                    <div style="float:left; margin:8px 0 0 3px; font-size:13px; color:#757575;">
                        I WANT TO :
                    </div>
                    <div style="float:left; margin:6px 0 0 2px; font-size:13px;">
                        <input type="radio" name="interestP" value="1" />CREATE PLAYERS
                    </div>
                    <div style="float:left; margin:6px 0 0 2px;  font-size:13px;">
                        <input type="radio" name="interestP" value="2" />LISTEN TO MUSIC
                    </div>                       
                </div>
                    
                @if(ViewBag.CurrCaptcha == 1)
                {            
                    <div style="float:left; width:100%; min-height:55px; margin-top:25px; @if (ViewBag.SkipCaptcha == "on"){<text>display:none;</text>}">    
                        <div style="float:left; margin:0 0 0 10px;">
                            <span></span>
                            <!-- start SolveMedia puzzle widget -->
                            <script type="text/javascript">
                                var ACPuzzleOptions = {
                                    tabindex: '0'
                                };
                            </script>
                            <script type="text/javascript" src="http://api.solvemedia.com/papi/challenge.script?k=@ViewBag.ChallengeKey"></script>
                            <noscript>
	                            <iframe height="300" width="500" frameborder="0" src="http://api.solvemedia.com/papi/challenge.noscript?k=@ViewBag.ChallengeKey"></iframe><br />
                                <textarea name="adcopy_challenge" rows="3" cols="40"></textarea>
                                <input type="hidden" name="adcopy_response" value="manual_challenge" />
                            </noscript>
                            <!-- end SolveMedia puzzle widget -->
                        </div>   
                    </div>
                }
                else
                {   
                    <div style="float:left; width:100%; min-height:55px; margin-top:25px; @if (ViewBag.SkipCaptcha == "on"){<text>display:none;</text>}">                            
                        <div style="float:left;">
                            <div id='AYAH'></div><script src='https://ws1.areyouahuman.com/ws/script/847779b0884b57f9de0568b2fc61c2c87ad3f13a'></script>                                
                        </div>
                    </div>
                }                     
                             
                <div style="float:left; width:100%; margin-top:30px;">
                    <div style="float:left; font-size:16px; margin-top:10px; color:#FFFFFF;">
                        <input type="checkbox" id="I_agree" name="I_agree" @if(ViewBag.I_agree == "on"){ <text>checked="checked"</text> } />I AGREE TO THE <a href="/hypster/Terms_of_Service" target="_blank" style="text-decoration:underline; color:#FFFFFF;">TERMS AND CONDITIONS</a>
                    </div>

                    <div style="float:left; font-size:16px; margin-top:10px; color:#FFFFFF;">
                        <input type="checkbox" id="checkNewsAboutMusic" name="checkNewsAboutMusic" @ViewBag.updatesAPlaylists />CHECK IF YOU WANT TO RECEIVE A REGULAR DOSE OF ALL THINGS NEW MUSIC.
                    </div>                         
                    <input type="submit" value="SIGN UP" style="background-color:#3fbc91; border:1px solid #3fbc91; float:right; width:100%; height:42px; font-size:21px; margin-top:30px; border-radius:3px; " />
                </div>
            </div>
        }
    </div>

    <div style="float:left; width:300px; min-height:250px; margin:10px 0 0 10px; "></div>

</div>















