@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = null;
}



<!-- *************************************CONTENT************************************* -->
<div style=" float:left; width:1000px; margin:15px 0 15px 15px; " >


    <div style=" float:left; width:100%; margin-top:13px;">
    
        <div onclick="LoadPlayerCont('/ru/Плеер/getPlayer/BarPlayer');" style=" float:left; margin:0 0 0 0px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/bar_widget.png"  />
            <div style=" font-size:17px; color:#FCF088;">Bar Плеер</div>
        </div>


        <div onclick="LoadPlayerCont('/ru/Плеер/getPlayer/ClassicPlayer');" style=" float:left; margin:0 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_1.png" />
            <div style=" font-size:17px; color:#FCF088;">Классический плеер</div>
        </div>


        <div onclick="LoadPlayerCont('/ru/Плеер/getPlayer/RadioPlayer');" style=" float:left; margin:0 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_radio.png"  />
            <div style=" font-size:17px; color:#FCF088;">Радио плеер</div>
        </div>

        <div onclick="window.location='/ru/Хипстер/New_Player_For_Tumblr_Code';" style=" float:left; margin:0 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget.png"  />
            <div style=" font-size:17px; color:#FCF088;">HypsterHi5 плеер <span style=" font-size:11px; color:#FFFFFF;">(beta)</span></div>
        </div>

        <div onclick="window.location='/ru/Хипстер/New_Player_For_Tumblr_Code_1';" style=" float:left; margin:20px 0 0 0px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget_1.png"  />
            <div style=" font-size:17px; color:#FCF088;">New Hyp.FM плеер <span style=" font-size:11px; color:#FFFFFF;">(beta)</span></div>
        </div>

        <div onclick="window.location='/ru/Хипстер/New_Player_For_Tumblr_Code_2';" style=" float:left; margin:20px 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget_2.png"  />
            <div style=" font-size:17px; color:#FCF088;">Двоиной плеер <span style=" font-size:11px; color:#FFFFFF;">(beta)</span></div>
        </div>


    </div>


</div>
<!-- *************************************CONTENT************************************* -->




