@model List<hypster.ViewModels.chartViewModel>
@{
    ViewBag.Title = "Playlists of music charts online";
    ViewBag.Desc = "Listen to playlists of popular music charts online, create and extend your own music playlist";
    Layout = "~/Areas/HypDesktop/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>




@{ int i_counter = 0; }

@foreach (var item in Model)
{   
    <div class="chartHoldCont" @if(i_counter == 0){<text>style=" margin-top:-20px;"</text>}>
        @{ Html.RenderPartial("~/Areas/HypDesktop/Views/dCharts/dBuildChart.cshtml", item); }
    </div>
    
    i_counter += 1;
}






<div class="boxContRight">
    <div class="slideRight" style=" min-height:45px;">
            
            @if (ViewBag.prevPageID > 0)
            {
                <input id="Charts_PrevPage" type="button" onclick="window.location='/hypDesktop/dCharts/dPage/@ViewBag.prevPageID';" value="Prev Page" />
            }

            @if (ViewBag.nextPageID > 0)
            {
                <input id="Charts_NextPage" type="button" onclick="window.location='/hypDesktop/dCharts/dPage/@ViewBag.nextPageID';" value="Next Page" />
            }

    </div>
</div>