@model List<hypster_tv_DAL.Playlist>
@{
    Layout = null;
}


<div style=" margin:20px 0 0 0;">

    <div style=" color:#CC0000;">
        Press ENTER to add to remove from playlist.
    </div>

</div>








<script type="text/javascript">
    
    if (is_speech_sound == 1) {
        //window.speechSynthesis.cancel();
        var msg = new SpeechSynthesisUtterance('Press ENTER to remove from playlist.');
        window.speechSynthesis.speak(msg);
    }


    function SubmitDeleteFromMyPlaylist() {
        $.ajax({
            type: "POST",
            url: "/black/bAccount/SubmitDeleteFromMyPlaylist/@ViewBag.CURR_SONG_ID",
            async: true,
            success: function (data) {

                if (is_speech_sound == 1) {
                    var msg = new SpeechSynthesisUtterance('Removed');
                    window.speechSynthesis.speak(msg);
                }
                $("#MyPlaylist_Actions_CH1").html("");

                //need to skip in curr session
                skipSong(CURR_VIDEO);
            }
        });
    }


    //need to cancel prev timer !!!!!
    setTimeout(function () {
        LOCK_SOUND = false;
        CURR_ACTION = "";

        $("#MyPlaylist_Actions_CH1").html("");
    }, 7000);

</script>


