@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appHypster/about_us\" >";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div style="float:left; width:745px; margin:10px 0 0 0; ">
    <div style="float:left; width:720px; margin:13px 0 0 0; padding:5px; font-size:18px; line-height:24px; color:#353535; border:1px solid #d4ae52; text-align:left;">
        
        <div style="float:left; width:44%; margin:0 0 0 4%;">
            <span style="color:#d4ae52;">WHAT IS HYPSTER?</span> It’s where music and gaming collide. It’s where you go when you live for the latest remix and the next match. It’s your daily destination when your gaming requires an epic soundtrack. Boasting live streaming and curated playlists by many of the world’s top gamers, Hypster goes one step beyond, offering custom players, breaking music and gaming news, and a little bit of indescribable magic. <br />
        </div>
        
        <div style="float:left; width:44%; margin:0 0 0 4%;">
            With upwards of 6 million registered users, Hypster has spent the better part of the decade allowing music lovers to create and share what they love within our legendary library. Better yet, we've allowed them to discover artists worth knowing and songs worth hearing — painlessly, seamlessly . . . and enjoyably, the way it was intended to be. <br />
            
            <div style="color:#d4ae52; font-weight:bold; margin:30px 0 0 0;">About that indescribable magic?</div>
            <div style="margin:9px 0 0 0;">Life (and gaming) is better with more music.</div>
        </div>
    </div>
</div>

