@{
    ViewBag.Title = "Hypster Applications";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="width:700px; min-height:300px; margin:auto;float:left;">
    
    <div style="float:left; width:100%; margin:10px 0 0 0; font-size:18px; line-height:24px; color:#353535; text-align:left;">
        <span style="color:#d4ae52;">MORE HYPSTER TO HOLD.</span> All of Hypster's musical goodness in the palm of your hand. Download for <a href="https://play.google.com/store/apps/details?id=com.barons.hyp" target="_blank" style="text-decoration:underline; color:#232323;">Android</a> and <a href="https://itunes.apple.com/us/app/hypster.com/id902773695?ls=1&mt=8" target="_blank" style="text-decoration:underline; color:#232323;">iOS</a>.
    </div>

    <img alt="" src="/imgs/apps/iphone_app.jpg" style="float:left; margin:10px 0 0 10px; " />

    <img alt="" src="/imgs/apps/android_app.jpg" style="float:left; margin:10px 0 0 10px; " />


    <div style="float:left; width:100%; margin:10px 0 0 0; font-size:18px; line-height:24px; color:#353535; text-align:left; ">
        <span style="color:#d4ae52;">HYPSTER FOR DESKTOP</span> available <a href="/hypster_for_desktop?rtg=hd1" target="_blank" style="text-decoration:underline; color:#232323;">here</a> for all PCs. 
    </div>

    <img alt="" src="/imgs/apps/desktop_app.jpg" style="float:left; margin:10px 0 0 0; " />
</div>

