@{
    ViewBag.Title = "Changes on hypster";
    ViewBag.Desc = "Check latest changes on hypster to know all our latest features to create and listen your free music playlist.";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style type="text/css">
    img {
        width:100%;
    }
</style>
<div style="float:left; width:100%; min-height:250px;">
    <div id="ShrContH1">
        <div id="ShrContH1innt">
            <div style="float:right; width:70px; margin:20px 0 0 0; ">
                <div class="pw-widget pw-vertical" pw:image="">
                    <a class="pw-button-tumblr pw-look-native"></a>
                    <a class="pw-button-facebook pw-look-native"></a>
                    <a class="pw-button-twitter pw-look-native"></a>
                    <a class="pw-button-post-share"></a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var ss_cont = document.createElement('script');
            ss_cont.src = "http://i.po.st/static/v3/post-widget.js#publisherKey=caq8eudavn7j6erou9n3";
            var ss_cont_obj = document.getElementById('ShrContH1innt');
            ss_cont_obj.parentNode.insertBefore(ss_cont, ss_cont_obj);
        });
    </script>

    <div style="float:left;">
        <h1 style="font-weight:300;">
            Track Hypster's Changes.
        </h1>

        <h2 style="color:#d4ae52; line-height:28px; font-weight:300; ">
            Hypster allows its users to create free playlists and players with unlimited songs of any artist, in any order, with unlimited skips and more.
            We are constantly developing and improving the website so we can deliver the best user experience possible.
        </h2>

        <h3 style="font-weight:300;">
            If you have any suggestions on how to make Hypster even better, please let us know <a href="/hypster/Contact_Us" style="text-decoration:underline;">here</a>
        </h3>
    </div>
</div>
<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">January 27, 2015</h3>
    <h2 style="font-weight:300;">
        LOS ANGELES, January 27, 2015 /PRNewswire/ -- The biggest new name in gaming sites isn’t a gaming site at all — it’s a music site. Hypster.com has become a go-to destination for some of the world’s top gamers, where they create and share playlists while streaming. Now, Hypster.com is giving back to the gaming community with an unprecedented program called Hypster Rewards.
        According to the program, gamers who add the Hypster logo to their page and use their custom player while streaming will receive free Hypster gear. Gamers who add the Hypster logo to their page, use their custom player while streaming, and generate more than $250 in revenue will receive free Hypster gear plus a revenue share.
        With more than 6 million users, Hypster.com offers music fans the opportunity to listen to millions of songs for free, build custom playlists, read up on breaking music and gaming news, and create personalized players. It is at the forefront of the music-meets-gaming experience.
    </h2>
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">January 20, 2015</h3>
    <h2 style="font-weight:300;">
        LOS ANGELES, January 20, 2015 /PRNewswire/ -- Having long been a daily destination for gamers, music streaming service Hypster.com has unveiled a featured arena for the gaming community. Popular gamers will now be able to share their curated playlists while live-streaming their latest match. Users will be able watch and listen to the streaming session, all while chatting with other fans.
        This new unique space, called “Hypestream,” arrives in conjunction with the popular website’s dramatic redesign. Hypster.com’s 6 million users will still be able to enjoy the site’s many popular features: listening to millions of songs for free, building custom playlists, reading up on breaking music and gaming news, and creating personalized players. But now all of those features will be delivered in a seamless interface that merges these two worlds.
    </h2>
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">August 2014</h3>
    <h2 style="font-weight:300;">We launched Hypster for iOS, an application that allows users to listen to their playlists from mobile devices and tablets.</h2>
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">June 2014</h3>
    <h2 style="font-weight:300;">We launched Hypster for Andoid, an application that allows users to listen to their playlists from mobile devices and tablets.</h2>
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">March 2014</h3>
    <h2 style="font-weight:300; ">
        In order to make it even easier to discover music, we've expanded our Hypster Player. It now has a side bar <br />
        with a list of playlists similar to the one you are currently listening to.
    </h2>
    <img alt="" src="/imgs/hyp_changes/sidebar_with_playlists.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">February 2014</h3>
    <h2 style="font-weight:300;">We added the ability to remove dead links which are songs that will no longer play on Hypster. This happens <br />when a song is deleted or restricted by the content owner.</h2>
    <img alt="" src="/imgs/hyp_changes/remove_dead_links.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">January 2014</h3>
    <h2 style="font-weight:300;">We launched Hypster for Desktop, an application that allows users to listen to their playlists directly from their desktop.</h2>
    <img alt="" src="/imgs/hyp_changes/hypster_for_desktop.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">January 2014</h3>
    <h2 style="font-weight:300;">
        Tags were implemented in order to categorize and exchange music more affectively. They allow users to find <br />
        playlists that fit their specific tastes.
    </h2>
    <img alt="" src="/imgs/hyp_changes/tags_to_playlist.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">December 2013</h3>
    <h2 style="font-weight:300;">Hypster now displays views and likes on the side of each playlist.</h2>
    <img alt="" src="/imgs/hyp_changes/views_and_likes.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">October 2013</h3>
    <h2 style="font-weight:300;">We started creating Hypster Charts built from the most popular, most listened to songs on the site.</h2>
    <img alt="" src="/imgs/hyp_changes/hypsters_top_chart.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">July 2013</h3>
    <h2 style="font-weight:300;">Users now have the ability to preview the songs on playlists by hovering over the title.</h2>
    <img alt="" src="/imgs/hyp_changes/playlists_preview.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">June 2013</h3>
    <h2 style="font-weight:300;">We added the ability to skip any amount of songs.</h2>
    <img alt="" src="/imgs/hyp_changes/unlimited_skip.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">June 2013</h3>
    <h2 style="font-weight:300;">Hypster added a new compact player for personal blogs.</h2>
    <img alt="" src="/imgs/hyp_changes/classic_compact_player.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">May 2013</h3>
    <h2 style="font-weight:300;">Built and implemented a similarity tool that allows users to find playlists similar to their own.</h2>
    <img alt="" src="/imgs/hyp_changes/find_similar_playlists.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">April 2013</h3>
    <h2 style="font-weight:300;">Users can now "like" playlists and it will automatically be saved so they can listen to it later.</h2>
    <img alt="" src="/imgs/hyp_changes/like_playlist.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">April 2013</h3>
    <h2 style="font-weight:300;">Hypster now has frequently undated popular charts and music festivals playlists.</h2>
    <img alt="" src="/imgs/hyp_changes/charts_and_festivals.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">February 2013</h3>
    <h2 style="font-weight:300;">We added a shuffle playlist feature.</h2>
    <img alt="" src="/imgs/hyp_changes/shuffle_button.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <h3 style="color:#d4ae52; font-weight:300;">January 2013</h3>
    <h2 style="font-weight:300;">Happy to announce we now have three new players for personal blogs.</h2>
    <img alt="" src="/imgs/hyp_changes/3_new_players.png" />
</div>

<div style="float:left; width:100%; margin:20px 0 40px 0;">
    <h3 style="color:#d4ae52; font-weight:300;">January 2013</h3>
    <h2 style="font-weight:300;">Hypster has launched a genre radio stations.</h2>
    <img alt="" src="/imgs/hyp_changes/hypster_radio.png" />
</div>
