@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}


<div style="float:left; width:100%;">

        <div class="ContactsThanksCont">
            <h2>Thank you for submitting your request</h2>
        </div>

</div>
