@{
    Layout = null;
}
<html>


<head>

    <title>gowilkes</title>


    <script type="text/javascript">
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        eventer(messageEvent, function (e) {
            if (e.origin == 'http://hypster-local.com') {
                window.frames["hypVideoWidget_Video"].postMessage(e.data, "http://hypster-local.com");
            }
        }, false);
    </script>

</head>



<body style=" background-image:url(/imgs/widget/gowilkes_back.png); background-color:#313943; background-repeat:no-repeat; min-height:1200px;">
    


    <div style=" float:left; width:625px; height:920px; margin:163px 0 0 223px;">
        
        <iframe id="hypVideoWidget_Video" style=" float:left; width:625px; height:275px; overflow:hidden; border:none; " src="http://hypster-local.com/hypWidget/gowilkes/video?category=15&qq=&headline=Today+In+Sports&apl=1">
        </iframe>

        <iframe id="hypVideoWidget_Thumbs" style=" float:left; width:625px; height:275px; overflow:hidden; border:none; margin-top:20px; " src="http://hypster-local.com/hypWidget/gowilkes/thumbs?category=15&qq=&headline=Today+In+Sports&apl=1">
        </iframe>






        <!--iframe id="hypVideoWidget" style=" float:left; width:625px; height:920px; overflow:hidden; border:none; " src="http://hypster.com/hypWidget/gowilkes?category=15&qq=&headline=Today+In+Sports">
        </iframe-->
        <!--iframe id="hypVideoWidget" style=" float:left; width:625px; height:920px; overflow:hidden; border:none; " src="http://hypster-local.com/hypWidget/gowilkes?category=15&qq=&headline=Today+In+Sports">
        </iframe-->
        
    </div>



</body>


</html>




