@{
    ViewBag.Title = "Hypster - how to remove hypster account";
    ViewBag.Desc = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>




<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:630px;">

            <h2 style=" margin-bottom:10px;">How to remove hypster account</h2>
            <span>To remove your account from Hypster go to "My Account", scroll to the bottom and click "Deactivate My Account"</span>

            <img alt="How to remove hypster account" src="/imgs/how_to_use/how_to_remove_account/remove_account_1.jpg" style=" float:left; border:2px solid #222222; margin-top:10px;" />
    
    </div>
</div>
