@model hypster.ViewModels.celebsIndexViewModel
@{
    ViewBag.Title = "New player for Tumblr";
    ViewBag.Desc = "player for Tumblr allows to choose from lot of new features and skins, save state, support different platforms, splitted controls and more";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="float:left; width:100%;">
    <div class="NPFT_Head">
        <div style="float:left; margin:10px 0 5px 0; font-size:34px; color:#000000; border-bottom:2px solid #3fbc91;">
            NEW PLAYER FOR TUMBLR OR PERSONAL BLOG
        </div>

        <div class="BenContHolder">
            <div class="BenItem">
                &nbsp;HYPSTER PLAYER SUPPORTS MULTIPLE PLATFORMS INCLUDING SMARTPHONE, TABLET, AND PC.
            </div>
            <div class="BenItem">
                &nbsp;HYPSTER PLAYER ABIDES BY YOUTUBE COPYRIGHT TERMS AND CONDITIONS. THIS CREATES MORE ACCESS TO SONGS FOR USERS.
                <div style="font-size:14px; margin:-7px 0 0 17px;">(PLEASE NOTE: CONTENT OWNERS CAN RESTRICT ACCESS TO SONGS.)</div>
            </div>
            <div class="BenItem">
                &nbsp;HYPSTER OFFERS A CUSTOMIZABLE PLAYER.
            </div>
            <div class="BenItem">
                &nbsp;HYPSTER PLAYLIST CAN BE ADJUSTED WITHOUT CHANGING THE CODE SETTINGS.
            </div>
            <div class="BenItem">
                &nbsp;HYPSTER PLAYER WILL REMEMBER THE USER'S SETTINGS AND WILL CONTINUE THE SONG ON THE NEXT VISIT.
            </div>
            <div class="BenItem">
                &nbsp;HYPSTER PLAYER SETTINGS WILL REMAIN THE SAME FOR MULTIPLE PAGES WITHIN A BLOG AND WILL CONTINUE A SONG FROM THE LAST PAGE/VISIT.
            </div>
            <div class="BenItem" style="margin-bottom:0px;">
                &nbsp;SPLITTED CONTROLS: USER WILL BE ABLE TO PLACE MULTIPLE HYPSTER PLAYERS ON ONE OR MORE PAGES.
            </div>
        </div>
    </div>
</div>

<div style="float:left; width:100%; margin:20px 0 0 0;">
    <div style="float:left;">
        <script id="HypPlayerScript" type="text/javascript" src="http://hypster-local.com/a/player6.js" hypHostName="hypster.com" hypUserID="4398055" hypPlaylistID="5799501" hypPlayerControls="1" hypAutostart="1" hypPlayerSort="rand" hypMainBackColor="#E34C00" hypPrevButtonColor="#D62D2D" hypPlayPauseButtonColor="#E05E36" hypNextButtonColor="#C73E75" hypShuffleButtonColor="#E362B8" hypHypsterButtonColor="#2488BA" hypVisibility="visible" hypSaveState="1"><!-- Hypster Player --></script>
    </div>

    <div onclick="window.location='/hypster/New_Player_For_Tumblr_Code_1';" style="float:right; width:230px; text-align:center; font-weight:300; font-size:26px; font-weight:bold; background-color:#3fbc91; border:1px solid #3fbc91; color:#FFFFFF; padding:2px; border-radius:7px; cursor:pointer;">
        GET CODE
    </div>
</div>