@{
    ViewBag.Title = "Hypster";
    ViewBag.Desc = "";
    
}



<div style=" float:left; width:100%;">
    
    
<embed quality="high" style="width:370px;visibility:visible; height:450px;" type="application/x-shockwave-flash" height="300" width="450"  pluginspage="http://www.macromedia.com/go/getflashplayer" border="0" src="http://www.hypster.com/flash/player.swf?id=4398055:5799501:0&autoplay=true" FlashVars="color_bg=0x9A0000&color_border=0x9A0000&color_box=0x9A0000&color_songbg=0xFF9700&color_song_clicked=0xFECB81&color_Title=0x000000&color_btns=0xD4D0C7&color_title=0x000000" />



<!--embed quality="high" style="width:270px;visibility:visible; height:400px;" type="application/x-shockwave-flash" height="220" width="400"  
	pluginspage="http://www.macromedia.com/go/getflashplayer" border="0" 
	src="http://www.hypster.com/flash_n/player.swf?id=4398055:5799501:0&autoplay=true" 
	FlashVars="color_bg=0x757575&color_border=0x656565&color_box=0x545454&color_songbg=0xABABAB&color_song_clicked=0xBCBCBC&color_Title=0x000000&color_btns=0xFFFFFF&color_title=0xFFFFFF" /-->
                        
    
    
</div>