@{
    ViewBag.Title = "What is a hipster vs. Hypster?";
    ViewBag.Desc = "Learn the difference between a hipster and our website Hypster, a platform to create free playlists.";
}


<div style=" float:left; width:100%; font-size:16px; line-height:23px; margin:10px 0 0 0;">
    
    <img alt="What is a hipster vs. Hypster?" src="/imgs/HIPSTERVSHYPSTER.jpg" />

    <h1>What is a hipster vs. Hypster?</h1>
    <strong>What is a hipster?</strong> A Millennial subculture united by its progressive political leanings, vintage-inspired fashion sense, appreciation for indie music, and taste for all things organic and artisanal. From Brooklyn to Silver Lake, this highly insular group has crafted a lifestyle out of a heightened sense of irony, while somehow failing to realize the central irony of their lives: they have become a cliche.
    <br><br>
    <b>What is Hypster?</b> It's where music and gaming collide. It's where you go when you live for the latest remix and the next match. It's your daily destination when your gaming requires an epic soundtrack. Boasting live streaming and curated playlists by many of the world's top gamers, Hypster goes one step beyond, offering custom players, breaking music and gaming news, and a legendary music library where you can create and share what you love.
    <br><br>
    Now that you know the difference, please enjoy the playlist!

    <p style="color:#757575; font-size:13px; line-height:19px;"> <b>Full track list:</b> <br>

    Father John Misty - "Chateau Lobby #4 (in C for Two Virgins)" | Courtney Barnett - "Pedestrian At Best" | Ariel Pink - "Put Your Number In My Phone" | Kurt Vile - "Never Run Away" | Blood Orange — "You're Not Good Enough" | Phosphorescent - "Song for Zula" | Fuck Buttons - "Brainfreeze" | Waxahatchee - "Air" | Sun Kil Moon - "Carissa" | Tame Impala - "Elephant" | Danny Brown - "25 Bucks (feat. Purity Ring)" | Dirty Beaches - "Casino Lisboa" | The Field - "Comenius Garden" | Warpaint - "Disco//Very - Keep It Healthy" | Viet Cong - “Continental Shelf" | Julia Holter - "Our Sorrows" | Autre Ne Veut - "Counting" | The Knife - "A Tooth For An Eye" | Iceage - "The Lord's Favorite" | These New Puritans - "Fragment Two" | Deafheaven - "Violet" | Radical Face - "Holy Branches" | The Shoes - "Time to Dance" | Honeyblood - "Killer Bangs" | Youth Lagoon - "Mute"
    </p>
</div>