@{
    Layout = null;
}
<html>


<head>

    <title>977 Music</title>

</head>



<body style=" background-image:url(/imgs/widget/977music.jpg); background-color:#e5e5e5; background-repeat:no-repeat; min-height:1200px;">
    


    <div style=" float:left; width:528px; height:350px; margin:559px 0 0 203px; background-color:#fdfdfd; border:1px solid #b8b8b8; ">
        
        <iframe id="hypVideoWidget" style=" float:left; width:528px; height:350px; overflow:hidden; border:none; " src="http://hypster.com/hypWidget/videoWidget?qq=one+direction">
        </iframe>

    </div>



</body>


</html>




