@{
    ViewBag.Title = "BHome";
    Layout = "/Areas/black/Views/Shared/_bLayout.cshtml";
}


<div id="bContHolder1" style=" float:left; width:100%; ">


    <div id="msgBox1">
        Loading...
    </div>


</div>



<script type="text/javascript">

    window.speechSynthesis.cancel();


    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/black/bhome/step_1",
            async: true,
            success: function (data) {
                $("#bContHolder1").html(data);
            }
        });
    });
</script>



