@{
    Layout = null;
}


<div class="cir_1">    
    
    <div id="msgBox1" style=" float:left; width:70%; margin:100px 0 0 90px; ">
        Home. Choose one of the 5 menus.<br /> 
        <br />
        <div class="mnuItm" id="menu_1" onclick="LoadContent(49);">Press <span style=" color:#CC0000; ">1</span> to access your playlists</div>
        <div class="mnuItm" id="menu_2" onclick="LoadContent(50);">Press <span style=" color:#CC0000; ">2</span> to search music</div>
        <div class="mnuItm" id="menu_3" onclick="LoadContent(51);">Press <span style=" color:#CC0000; ">3</span> to listen to charts</div>
        <div class="mnuItm" id="menu_4" onclick="LoadContent(52);">Press <span style=" color:#CC0000; ">4</span> to listen to radio</div>
        <div class="mnuItm" id="menu_5" onclick="LoadContent(53);">Press <span style=" color:#CC0000; ">5</span> access my account</div>
    </div>

</div>


<div class="cir_2">

    <img alt="Hypster" src="/areas/black/imgs/512.jpg" style=" float:left; margin:130px 0 0 190px; border-radius:250px;" />

</div>


<div class="cir_mic"></div>





<script type="text/javascript">
    if (is_speech_sound == 1) {
        window.speechSynthesis.cancel();
    }

    if (home_vis == false) {
        if (is_speech_sound == 1) {
            var msg = new SpeechSynthesisUtterance('Home. Use the arrow keys or 1 through 5 keys to Choose one of the five menus.');
            window.speechSynthesis.speak(msg);
        }
        home_vis = true;
    }
    else {
        if (is_speech_sound == 1) {
            var msg = new SpeechSynthesisUtterance('Home.');
            window.speechSynthesis.speak(msg);
        }
    }



    var msg1 = new SpeechSynthesisUtterance('Access your playlists');
    var msg2 = new SpeechSynthesisUtterance('Search music');
    var msg3 = new SpeechSynthesisUtterance('Listen to charts');
    var msg4 = new SpeechSynthesisUtterance('Listen to radio');
    var msg5 = new SpeechSynthesisUtterance('My account');


    

</script>

    

<script type="text/javascript">

    var CURR_ACTIVE_MENU = 0;
    var MENU_COUNT = 5;

    function HandleKeyAction(e) {

        if (is_speech_sound == 1) {
            window.speechSynthesis.cancel();
        }


        var KEY_CODE = 0;

        if (window.event) {
            KEY_CODE = window.event.keyCode;
        }
        else {
            KEY_CODE = e.which;
        }


        //alert(KEY_CODE);


        //ESC
        if (KEY_CODE == 27) {
            $.ajax({
                type: "POST",
                url: "/black/bhome/step_2",
                async: true,
                success: function (data) {
                    $("#bContHolder1").html(data);
                }
            });
        }



        //enter
        if (KEY_CODE == 13) {

            switch (CURR_ACTIVE_MENU) {
                case 1:
                    KEY_CODE = 49;
                    break;
                case 2:
                    KEY_CODE = 50;
                    break;
                case 3:
                    KEY_CODE = 51;
                    break;
                case 4:
                    KEY_CODE = 52;
                    break;
                case 5:
                    KEY_CODE = 53;
                    break;
                default: 
                    break;
            }

        }



        //down
        if (KEY_CODE == 40) {
            //move menu down
            
            CURR_ACTIVE_MENU += 1;
            if (CURR_ACTIVE_MENU > MENU_COUNT) {
                CURR_ACTIVE_MENU = MENU_COUNT;
            }

            if (is_speech_sound == 1) {
                window.speechSynthesis.speak(eval("msg" + CURR_ACTIVE_MENU));
            }


            $(".mnuItm").css("background", "none");
            $("#menu_" + CURR_ACTIVE_MENU).css("background-color", "#DEDEDE");
        }

        //up
        if (KEY_CODE == 38) {
            //move menu up
            
            CURR_ACTIVE_MENU -= 1;
            if (CURR_ACTIVE_MENU <= 0) {
                CURR_ACTIVE_MENU = 1;
            }


            if (is_speech_sound == 1) {
                window.speechSynthesis.speak(eval("msg" + CURR_ACTIVE_MENU));
            }


            $(".mnuItm").css("background", "none");
            $("#menu_" + CURR_ACTIVE_MENU).css("background-color", "#DEDEDE");
        }






       LoadContent(KEY_CODE);

        



        //CNTRL
        if (KEY_CODE == 17) {
            StartVoiceCommand();
        }


    }


    function LoadContent(KEY_CODE) {
   

        //1
        if (KEY_CODE == 49) {
            $("#msgBox1").html("loading your playlists.....");

            $.ajax({
                type: "POST",
                url: "/black/bPlaylists/myPlaylists",
                async: true,
                success: function (data) {
                    $("#bContHolder1").html(data);
                }
            });

        }


        //2
        if (KEY_CODE == 50) {
            $("#msgBox1").html("loading search.....");

            $.ajax({
                type: "POST",
                url: "/black/bSearch/index",
                async: true,
                success: function (data) {
                    $("#bContHolder1").html(data);
                }
            });
        }


        //3
        if (KEY_CODE == 51) {
            $("#msgBox1").html("loading charts.....");

            $.ajax({
                type: "POST",
                url: "/black/bCharts/index",
                async: true,
                success: function (data) {
                    $("#bContHolder1").html(data);
                }
            });
        }


        //4
        if (KEY_CODE == 52) {
            $("#msgBox1").html("loading radio.....");

            $.ajax({
                type: "POST",
                url: "/black/bRadio/index",
                async: true,
                success: function (data) {
                    $("#bContHolder1").html(data);
                }
            });
        }


        //5
        if (KEY_CODE == 53) {
            $("#msgBox1").html("loading account info.....");

            $.ajax({
                type: "POST",
                url: "/black/bAccount/ManageAccount",
                async: true,
                success: function (data) {
                    $("#bContHolder1").html(data);
                }
            });
        }

    }







    function StartVoiceCommand() {


        DisplayMicIcon();   

        

        if (is_speech_sound == 1) {
            window.speechSynthesis.cancel();
            var search_msg = new SpeechSynthesisUtterance("say");
            window.speechSynthesis.speak(search_msg);
        }


        setTimeout(function () {
            var recognition = new webkitSpeechRecognition();
            //recognition.continuous = true;
            //recognition.interimResults = true;
            recognition.lang = "en-US";
            recognition.onresult = function (event) {

                var curr_speech = event.results[0][0];
                console.log(event.results[0][0].transcript)

                ProccessVoiceCommand(event.results[0][0].transcript);

            }
            recognition.start();
        }, 300);
    }



    function ProccessVoiceCommand(comm)
    {
        switch (comm) {
            case "my playlists":
            case "my playlist":
            case "playlists":
            case "playlist":
                $("#msgBox1").html("loading your playlists.....");

                if (is_speech_sound == 1) {
                    window.speechSynthesis.cancel();
                    var search_msg = new SpeechSynthesisUtterance("Wait, navigating to your playlists");
                    window.speechSynthesis.speak(search_msg);
                }

                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/black/bPlaylists/myPlaylists",
                        async: true,
                        success: function (data) {
                            $("#bContHolder1").html(data);
                        }
                    });
                }, 2000);
                break;
            case "search":
            case "search music":
                $("#msgBox1").html("loading search.....");

                if (is_speech_sound == 1) {
                    window.speechSynthesis.cancel();
                    var search_msg = new SpeechSynthesisUtterance("Wait, navigating to search music");
                    window.speechSynthesis.speak(search_msg);
                }

                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/black/bSearch/index",
                        async: true,
                        success: function (data) {
                            $("#bContHolder1").html(data);
                        }
                    });
                }, 2000)
                break;
            case "charts":
            case "chart":
            case "listen to charts":
            case "listen charts":
                $("#msgBox1").html("loading charts.....");

                if (is_speech_sound == 1) {
                    window.speechSynthesis.cancel();
                    var search_msg = new SpeechSynthesisUtterance("Wait, navigating to charts");
                    window.speechSynthesis.speak(search_msg);
                }

                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/black/bCharts/index",
                        async: true,
                        success: function (data) {
                            $("#bContHolder1").html(data);
                        }
                    });
                }, 2000);
                break;
            case "radio":
            case "listen to radio":
            case "listen radio":
                $("#msgBox1").html("loading radio.....");


                if (is_speech_sound == 1) {
                    window.speechSynthesis.cancel();
                    var search_msg = new SpeechSynthesisUtterance("Wait, navigating to radio");
                    window.speechSynthesis.speak(search_msg);
                }

                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/black/bRadio/index",
                        async: true,
                        success: function (data) {
                            $("#bContHolder1").html(data);
                        }
                    });
                }, 2000);
                break;
            case "my account":
            case "account":
            case "access my account":
                $("#msgBox1").html("loading account info.....");


                if (is_speech_sound == 1) {
                    window.speechSynthesis.cancel();
                    var search_msg = new SpeechSynthesisUtterance("Wait, navigating to my account");
                    window.speechSynthesis.speak(search_msg);
                }

                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/black/bAccount/ManageAccount",
                        async: true,
                        success: function (data) {
                            $("#bContHolder1").html(data);
                        }
                    });
                }, 2000);
                break;
            default:
                if (is_speech_sound == 1) {
                    window.speechSynthesis.cancel();
                    var search_msg = new SpeechSynthesisUtterance("Please say again...");
                    window.speechSynthesis.speak(search_msg);
                }
                break;
        }
    }



</script>
