<!--/* OpenX Asynchronous JavaScript tag */-->
<div id="537983175_300x250_B" style="width:300px;height:250px;margin:0;padding:0">
  <noscript><iframe id="33fa2aeba7" name="33fa2aeba7" src="//junemedia-d.openx.net/w/1.0/afr?auid=537983175&cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="300" height="250"><a href="//junemedia-d.openx.net/w/1.0/rc?cs=33fa2aeba7&cb=INSERT_RANDOM_NUMBER_HERE"><img src="//junemedia-d.openx.net/w/1.0/ai?auid=537983175&cs=33fa2aeba7&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe></noscript>
</div>

<script type="text/javascript">
  var MR_Params = { ybot_slot: 'MR_BTF', ybot_size: '', ybot_cpm: '' };
  try { MR_Params = yieldbot.getSlotCriteria('MR_BTF'); }
  catch(e) { /*ignore*/ }

  ybotq.push(function() {
    var OX_ads = OX_ads || [];
    OX_ads.push({
      slot_id: "537983175_300x250_B",
      auid: "537983175",
      vars: {
        "ybot_slot": MR_Params.ybot_slot,
        "ybot_size": MR_Params.ybot_size,
        "ybot_cpm": MR_Params.ybot_cpm
      }
    });
  });
</script>

<script type="text/javascript" src="//junemedia-d.openx.net/w/1.0/jstag"></script>
