<!--/* OpenX IFrame tag */-->
<iframe id="37ef3cc5d9"
        name="37ef3cc5d9"
        src="//junemedia-d.openx.net/mw/1.0/afr?auid=538805235&cb=INSERT_RANDOM_NUMBER_HERE"
        frameBorder="0"
        frameSpacing="0"
        scrolling="no"
        width="320" height="50">
  <a href="//junemedia-d.openx.net/mw/1.0/rc?cs=37ef3cc5d9&cb=INSERT_RANDOM_NUMBER_HERE" >
    <img src="//junemedia-d.openx.net/mw/1.0/ai?auid=538805235&cs=37ef3cc5d9&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt="">
  </a>
</iframe>
