<!--/* OpenX Asynchronous JavaScript tag */-->
<script type="text/javascript" src="https://cdn.yldbt.com/js/yieldbot.intent.js"></script>
<script type="text/javascript">
		yieldbot.pub('320d');
		yieldbot.defineSlot('LB');;
		yieldbot.defineSlot('MR');
		yieldbot.defineSlot('MR_BTF');
		yieldbot.defineSlot('LB_BTF');
		yieldbot.go();
</script>

<script type="text/javascript">
  var MR_Params = { ybot_slot: 'LB', ybot_size: '', ybot_cpm: '' };
  try { MR_Params = yieldbot.getSlotCriteria('LB'); }
  catch(e) { /*ignore*/ }
</script>

<div id="537983177_728x90_ATF" style="width:728px;height:90px;margin:0;padding:0">
  <noscript><iframe id="34eed90f75" name="34eed90f75" src="//junemedia-d.openx.net/w/1.0/afr?auid=537983177&cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="728" height="90"><a href="//junemedia-d.openx.net/w/1.0/rc?cs=34eed90f75&cb=INSERT_RANDOM_NUMBER_HERE"><img src="//junemedia-d.openx.net/w/1.0/ai?auid=537983177&cs=34eed90f75&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe></noscript>
</div>

<script type="text/javascript">
	var OX_ads = OX_ads || [];
	OX_ads.push({
		slot_id: "537983177_728x90_ATF",
		auid: "537983177",
		vars: {
			"ybot_slot": MR_Params.ybot_slot,
			"ybot_size": MR_Params.ybot_size,
			"ybot_cpm": MR_Params.ybot_cpm
		}
	});
</script>

<script type="text/javascript" src="//junemedia-d.openx.net/w/1.0/jstag"></script>
