<!-- Content.ad 2x2 (not zergnet, sorry) -->

<div id="contentad421875"></div>
<script type="text/javascript">
    (function(d) {
        var params =
        {
            id: "b915c65a-c7ab-4407-8f2a-46a0dbca39f2",
            d: "aHlwc3Rlci5jb20=",
            wid: "421875",
            cb: (new Date()).getTime()
        };
        var qs = Object.keys(params).reduce(function(a, k){ a.push(k + '=' + encodeURIComponent(params[k])); return a},[]).join(String.fromCharCode(38));
        var s = d.createElement('script'); s.type='text/javascript';s.async=true;
        var p = 'https:' == document.location.protocol ? 'https' : 'http';
        s.src = p + "://api.content-ad.net/Scripts/widget2.aspx?" + qs;
        d.getElementById("contentad421875").appendChild(s);
    })(document);
</script>
