@{
    Layout = null;
}
<!-- Hyp Tags -->
<html>

<head>
    
    <title>Advertisement</title>
    <style>
    body {
	    margin: 0px;
	    padding: 0px;
        background-color: transparent;
    }
    #track {
      width:      1px;
      height:     1px; 
      z-index:    10;
      top:        0; 
      left:       0; 
      position:   fixed;
      overflow: hidden;
    }
    </style>

</head>

<body>


    <!--  Begin Rubicon Project Tag 300x250 -->
    <!--  Site: HYPSTER.COM   Zone: ROS   Size: Medium Rectangle  -->
    <script language="JavaScript" type="text/javascript">
        rp_account = '11618';
        rp_site = '35566';
        rp_zonesize = '148132-15';
        rp_adtype = 'js';
        rp_smartfile = '[SMART FILE URL]';
    </script>
    <script type="text/javascript" src="http://ads.rubiconproject.com/ad/11618.js"></script>
    <!--  End Rubicon Project Tag -->



    <script type='text/javascript'>
        <!--        // <![CDATA[ 
        //setTimeout('window.location.reload();', 60000);
        // ]]> -->          
    </script>
    
   
          

</body>
</html>






