@{
    Layout = null;
}
<!-- Hyp Tags -->
<html>

<head>
    
    <title>Advertisement</title>
    <style>
    body {
	    margin: 0px;
	    padding: 0px;
        background-color: transparent;
    }
    #track {
      width:      1px;
      height:     1px; 
      z-index:    10;
      top:        0; 
      left:       0; 
      position:   fixed;
      overflow: hidden;
    }
    </style>

</head>

<body>


    <script type='text/javascript' src='http://c.amazon-adsystem.com/aax2/amzn_ads.js'></script>
    <script type='text/javascript'>
        try {
            /* Slot size: 728x90 */
            amznads.getAdForSlot('3166', 'f9ba7c26-8e4b-46e9-b397-040444bc4304');
        } catch (e) { /*ignore*/ }
    </script>



    <script type='text/javascript'>
        <!--        // <![CDATA[ 
        //setTimeout('window.location.reload();', 60000);
        // ]]> -->          
    </script>
    
    
      

</body>
</html>









