@{
    Layout = null;
}
<!-- Hyp Tags -->
<html>

<head>
    <title>Advertisement</title>
</head>



<body>

    <!-- BEGIN JS TAG - Hypster.com 300x250 Player Placement Right < - DO NOT MODIFY -->
    <SCRIPT SRC="http://ib.adnxs.com/ttj?id=4040990&cb=[CACHEBUSTER]&referrer=[REFERRER_URL]" TYPE="text/javascript"></SCRIPT>
    <!-- END TAG -->


    <script type='text/javascript'>
        <!--        // <![CDATA[ 
        setTimeout('window.location.reload();', 120000);
        // ]]> -->          
    </script>
    

</body>
</html>




