@model List<hypster_tv_DAL.Playlist>
@{
    Layout = null;
}


<div style=" margin:20px 0 0 0;">

    <div style=" color:#CC0000;">
        Press 1 to add to your default playlist.
    </div>

</div>









<script type="text/javascript">

    startSpeechOn('Press 1 to add to your default playlist.');



    function SubmitAddToMyDefaultPlaylist() {
        $.ajax({
            type: "POST",
            url: "/senses/sAccount/SubmitAddToMyPlaylist/@ViewBag.song_guid",
            async: true,
            success: function (data) {

                startSpeechOn('Added');


                isExecuted = false;

                $("#MyPlaylist_Actions_CH1").html("");
            }
        });
    }


    //need to cancel prev timer !!!!!
    setTimeout(function () {
        LOCK_SOUND = false;
        CURR_ACTION = "";

        isExecuted = false;

        $("#MyPlaylist_Actions_CH1").html("");
    }, 7000);



</script>


