@{
    ViewBag.Title = "Hypster Login - If you're using a screen reader, like JAWS, please disable native speech";
    Layout = "/Areas/senses/Views/Shared/_srLayout.cshtml";
}






<div class="loginContLeft">
    

    <div id="msgBox1_login" style=" float:none; width:480px; margin:auto; color:#FFFFFF; ">
        
        <div style=" float:left; width:100%; ">
            <div style=" float:right; margin:0 80px 10px 0; font-size:21px;">HYPSTER LOGIN</div>
        </div>

        
        <div style=" float:left; width:100%; ">
            <input type="text" id="txtUserName" name="txtUserName" value="" style=" float:right; width:334px; height:42px; line-height:42px; font-size:13px; margin:0 0 13px 0; border:1px solid #318E8A; background-color:Black; color:#FFFFFF; font-size:23px; " />
            <div style=" float:right; margin:0 10px 0 0; font-size:19px;">USERNAME:</div>
        </div>
        

        <div style=" float:left; width:100%; ">
            <input type="password" id="txtPassword" name="txtPassword" value="" style=" float:right; width:334px; height:42px; line-height:42px; font-size:13px; margin:0 0 13px 0; border:1px solid #318E8A; background-color:Black; color:#FFFFFF; font-size:23px; " />
            <div style="float:right; margin:0 10px 0 0; font-size:19px;">PASSWORD:</div>
        </div>


        
        <div style="margin:5px 0 5px 0;">
            <div onclick="loginUser();" style=" float:right; width:280px; height:42px; line-height:42px; margin:10px 0 0 0; background-color:#000000; border:1px solid #318E8A; border-radius:3px; cursor:pointer; text-align:center; font-size:21px;">
                Login
            </div>
        
            <span onclick="window.location='/senses/sAccount/Register';" style=" float:right; width:80px; height:42px; line-height:42px; margin:10px 0 0 33px; border-radius:3px; cursor:pointer; text-align:center; font-size:21px;">
                Register
            </span>
        </div>

        <div id="msgCh1" style=" float:left; width:100%; margin:10px 0 0 0; color:#CC0000;"></div>

    </div>


</div>





<div style=" float:left; width:100%; height:260px; border:1px solid #318E8A; background:url('/Areas/senses/imgs/senses_back/back_1.jpg') no-repeat center;">
    
    <img alt="" src="/Areas/senses/imgs/senses_ct_icon.png" style=" float:left; margin:130px 0 0 175px;" />

</div>













<script type="text/javascript">
    $(document).ready(function () {
        $("#txtUserName").focus();

        cancelSpeech();
        

        setTimeout(function () {
            startSpeech('Hypster Login. For registration press TAB. Please enter your user name and press ENTER.');
        }, 500);
        
    });
</script>






<script type="text/javascript">

    var CURR_STEP = 1;
    var curr_interval = null;

    function HandleKeyAction(e) {

        var KEY_CODE = 0;

        if (window.event) {
            KEY_CODE = window.event.keyCode;
        }
        else {
            KEY_CODE = e.which;
        }


        //alert(KEY_CODE);
        


        //ESC
        if (KEY_CODE == 27) {
            //need to start again
            window.location.reload();
            return;
        }



        if (KEY_CODE == 13) {

            cancelSpeech();


            if ($("#txtUserName").val() != "" && $("#txtPassword").val() != "") {

                loginUser();

                return;
            }


            if (CURR_STEP == 1) {
                setTimeout(function () {
                    
                    $("#txtPassword").focus();

                    startSpeech('Your username is ' + $("#txtUserName").val() + 'Please enter your password and press ENTER');

                    CURR_STEP = 2;
                    return;
                }, 2500);
            }


            if (CURR_STEP == 2) {

                loginUser();

                return;
            }

            

            
            return;
        }


        if (KEY_CODE == 9) {
            window.location = '/senses/sAccount/Register';
        }




        // if no key pressed then say search phrase
        //
        //------------------------------------------------------------------------------

        cancelSpeech();
        clearTimeout(curr_interval);


        curr_interval = setTimeout(function () {

            startSpeech(String.fromCharCode(KEY_CODE));
            
        }, 300);
        //------------------------------------------------------------------------------


    }





    function loginUser() {
        
       setTimeout(function () {

                startSpeechOn('Signing you in... Please wait.');
                $("#msgCh1").html('Signing you in... Please wait.');


                CURR_STEP = 3;


                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/senses/sAccount/LoginUser?username=" + encodeURI($("#txtUserName").val()) + "&password=" + encodeURI($("#txtPassword").val()),
                        async: true,
                        success: function (data) {

                            $("#msgCh1").html(data);


                            if (data == "wrong user/name password") {
                                $("#txtUserName").focus();
                                $("#txtUserName").val("");
                                $("#txtPassword").val("");

                                startSpeech('wrong username or password. please try again. Enter your user name and press ENTER.');
                        
                                CURR_STEP = 1;
                            }
                    
                        }
                    });
                }, 4000);


        }, 2000);
        
    }

</script>
