@model List<hypster_tv_DAL.Tag>
@{
    Layout = null;
}


@for(var i=0; i<Model.Count; i++)
{   
    <div class="SA_mcont1">
    
        <div class="mitm" id="mitm_@i" onclick="window.location='/apps/appBreaking/tags/@HttpUtility.UrlEncode(Model[i].Tag_Name)';">@Model[i].Tag_Name</div>
        
    </div>
            
    if (i == 20)
    {
        break;
    }
}


<script type="text/javascript">

    var curr_item = -1;

    $(".mitm").mouseover(function mitm_over() {
        $(this).css("background-color", "#CDCDCD");
    });


    $(".mitm").mouseout(function mitm_out() {
        $(this).css("background-color", "#FFFFFF");
    });

</script>
