@model List<hypster_tv_DAL.ArtistAZ>
@{
    ViewBag.Title = "Most Popular Music Artists on Hypster";
    ViewBag.Desc = "Explore and discover free playlists for the most popular artists today on Hypster.";
    char curr_leter = ' ';
}




<h1 style=" float:left; width:100%; margin:40px 0 10px 0;" >Artists</h1>

<div style=" float:left; width:100%; margin:10px 0 20px 0;">
@foreach(var item in Model)
{
    if (item.ArtistAZ_Name != null && item.ArtistAZ_Name.Length > 0 && curr_leter != item.ArtistAZ_Name[0])
    {
        curr_leter = item.ArtistAZ_Name[0];
        
        <h2 style=" float:left; width:100%;">@curr_leter.ToString().ToUpper()</h2>
    }
    
    System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9 -]");
    string str = rgx.Replace(item.ArtistAZ_Name, " ").Trim();
    
    <a href="/playlists/artist/@str.ToLower().Replace(" ","-")" style=" display:block; float:left; width:30%; padding:1%; margin-right:1%; cursor:pointer; font-size:14px; ">
        @item.ArtistAZ_Name
    </a>
}
</div>

