@model List<hypster_tv_DAL.PlaylistData_Song>
@{
    Layout = null;
}




<h1 class="ChartHeader">
    <div style=" float:left;  width:100%; cursor:pointer;" onclick="OpenPlayerM('/m/mplaylists/chart/@(ViewBag.chart_guid)');">
        @ViewBag.chart_name
    </div>
</h1>





<div style=" float:left; width:100%; height:275px; background-color:#202020; padding-top:15px;">
    
    <div class="ChartScrlArea">
    
            @{ int chart_height = 180;}
            @{ int margin_top = 10;}
            @{ int chart_position = 1; }
            @{ int cont_width = 0; }

            <div class="MainChartCont" id="MainChartCont_@(ViewBag.chart_user_id)_@(ViewBag.chart_playlist_id)">
            @foreach (var item in Model)
            {
                <div class="chartItem" > 
                        <div class="chrtImage" style=" height:@(chart_height)px; margin-top:@(margin_top)px; background:#1d1d1c url(http://i.ytimg.com/vi/@(item.YoutubeId)/0.jpg) center; background-size: 220%;">
                            <div>@chart_position</div>
                        </div>
                    
                        <div class="chrtTitle" style=" height:50px;">@item.Title</div>
                </div>
        
        
                chart_height -= 0;
                margin_top += 0;
                chart_position += 1;

                cont_width += 165;
            }
            </div>
    </div>

</div>


<div style=" float:left; width:100%; margin-bottom:10px;">
    <div class="radioButton" style=" float:left; width:140px; margin-left:14px; color:#fbdda7;" onclick="OpenPlayerM('/m/mplaylists/chart/@(ViewBag.chart_guid)');">Listen Chart</div>
</div>




<script type="text/javascript">
    $(function () {
        $("#MainChartCont_@(ViewBag.chart_user_id)_@(ViewBag.chart_playlist_id)").css("width", "@(cont_width)px");
        $("#MainChartCont_@(ViewBag.chart_user_id)_@(ViewBag.chart_playlist_id)").draggable({ axis: "x" });
    });
</script>