@model List<hypster_tv_DAL.sp_Tag_GetNewsTags_Result>
@{
    Layout = null;
}



@foreach(var item in Model)
{
    <div id="tgn@(item.Tag_News_ID)" onclick="window.location='/breaking/tags/@item.Tag_Name';"  style=" float:left; padding:3px; margin:0 0 0 10px; font-size:23px; font-weight:bold; cursor:pointer;" >
        #@item.Tag_Name
    </div>
}
