@model List<hypster_tv_DAL.newsPost>
@{
    ViewBag.Title = "Breaking News about Music and Popular Artists";
    ViewBag.Desc = "Find breaking news about music and popular artists, enjoy a free custom playlist with each article.";
    ViewBag.ActivePage = "#Breaking";
    int counter = 0;
    int i_start = 1;
    if ((ViewBag.CurrPage - 4) >= 1)
    {
        i_start = ViewBag.CurrPage - 4;
    }

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appBreaking\" >";
    Layout = "/Views/Shared/_Layout2.cshtml";
}
<div class="breakingMCH">
    <h2 class="brkngHDR">#BREAKING</h2>
    <div id="tagsHolder">
        <div class="sld1_bottomCont">
            <div class="sld1_bottomContInnr" style="margin:0px;">
                <div class="brkSrchHolder1">
                    <input type="text" id="txtSearchString" name="txtSearchString" style="width:590px;" value="Search playlists and #BREAKING news stories" onKeyUp="SearchString_KeyUpTags(event)" onfocus="if (this.value == 'Search playlists and #BREAKING news stories') this.value = '';" onblur="if (this.value == '') this.value = 'Search playlists and #BREAKING news stories';" />
                    <div id="btnSearch" onclick="StartTagsSearch()"></div>
                </div>
            </div>
        </div>
        <div id="searchStr"></div>
    </div>
    @{int ad_pos = 0;}
    @for (int i = ViewBag.CurrPage_Start; i < ViewBag.CurrPage_End; i++)
    {
    if (i < Model.Count)
    {
        <div class="brkngItm" onclick="window.location='/breaking/details/@Model[i].post_guid';">
            <div class="brkngImg" style="background-image:url('http://news.hypster.com/imgs/i_posts/@Model[i].post_image'); "></div>
            <div class="txtDItem">@Model[i].post_title</div>
        </div>
        }
        ad_pos += 1;
    }
</div>

<div class="brkPagingCH1">
    <div class="brkngPagingCH">
        @for (int i = i_start; i <= ViewBag.NumOfPages; i++)
        {
            <a class="paging_Page" style="@if (i == ViewBag.CurrPage){ <text>background-color:#18ae7b; color:#FFFFFF;</text> }" href="/breaking/page/@i">@i.ToString()</a>
            counter++;
            if (counter > 8)
            {
                <a class="paging_Page" style="background-color:#FFFFFF; color:#d4ae52; " href="/breaking/page/@(i+1)">></a>
                break;
            }
        }
    </div>
</div>







