@{
    ViewBag.Title = "Create Station | free music online ";
    ViewBag.Desc = "Create station with only for your favorite singer or band.";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}





<div class="boxContLeft boxContRightTop">
    <div class="slideLeft" style=" min-height:80px;">
            

            <div class=" float:left; width:100%; margin-bottom:10px;">
                <div style=" float:right; width:1024px; height:23px; overflow:hidden; ">
                    <div class="pw-widget pw-counter-horizontal">
	                    <a class="pw-button-tumblr pw-look-native"></a>
	                    <a class="pw-button-blogger pw-look-native"></a>
	                    <a class="pw-button-facebook pw-look-native"></a>
	                    <a class="pw-button-twitter pw-look-native"></a>
                        <a class="pw-button-pinterest pw-look-native"></a>
                        <a class="pw-button-stumbleupon pw-look-native"></a>
                        <a class="pw-button-linkedin pw-look-native"></a>
	                    <a class="pw-button-googleplus pw-look-native"></a>
	                    <a class="pw-button-post-share"></a>
                    </div>
                    <script src="http://i.po.st/static/v3/post-widget.js#publisherKey=caq8eudavn7j6erou9n3" type="text/javascript"></script>
                </div>
            </div>


            @if (User.Identity.IsAuthenticated == false)
            {
                <div onclick="window.location='/account/SignIn?ReturnUrl=%2fcreate%2fstation';" style="float:right; width:1020px; height:40px; line-height:40px; margin-top:17px; background-color:#1a1a1a; border-bottom:1px solid #1a1a1a; border-right:1px solid #1a1a1a; border-radius:2px; cursor:pointer; text-align:center; font-size:21px; color:#d4ae52; font-weight:bold; ">
                    Login to create own music station
                </div>
            }

    </div>
</div>





<div class="boxContRight" id="RDSA">
    <div class="slideRight" style=" min-height:600px; background-color:#111111; ">
        

        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#4a4a4a; border-radius:2px;">
            <h2 style=" font-weight:300;">&nbsp;HYPSTER ALLOWS YOU TO CREATE STATIONS BASED ONLY ON ARTISTS THAT YOU WANT!!!</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/station/1.jpg" style=" float:left; border:3px solid #4a4a4a; border-radius:3px; " />
        </div>


        
        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#4a4a4a; border-radius:2px;">
            <h2 style=" font-weight:300;">&nbsp;IT'S SIMPLE TO GET STARTED - JUST ENTER THE ARTISTS NAME OR SEARCH A TERM</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/station/2.jpg" style=" float:left; border:3px solid #4a4a4a; border-radius:3px; " />
        </div>



        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#4a4a4a; border-radius:2px;">
            <h2 style=" font-weight:300;">&nbsp;LISTEN TO SONGS OF YOUR FAVORITE ARTISTS WITHOUT RESTRICTIONS AND INTERUPTIONS</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/station/3.jpg" style=" float:left; border:3px solid #4a4a4a; border-radius:3px; " />
        </div>


    </div>
</div>





<div class="boxContLeft">
    <div class="slideLeft" style=" min-height:95px;">
            
            <div class="ManualDtAdCont">
                @if (User.Identity.IsAuthenticated == false)
                {
                    <div class="NPFT_GoOnTop" onclick="window.location='/account/SignIn?ReturnUrl=%2fcreate%2fstation';">LOGIN</div>
                }
                else
                {
                    <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">Go To Top</div>
                }
            </div>

    </div>
</div>
