@model hypster.ViewModels.videoPlayerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout_SP.cshtml";
}

<h2>Ad Test</h2>
<p>Banner test under different versions.</p>
<div style="float:left; width:100%; margin:20px 0 0 0;">
    <div style="width:800px;margin:7px 0 0 5px;"> </div>
    <br />
    <div style="width:800px; margin:7px 0 0 5px;"> </div>
    <br />
    <div style="width:800px; min-height:600px;"> </div>
</div>
