@{
    ViewBag.Title = "Updates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:300px;">

            <h2>Updates</h2>

    </div>
</div>






<div class="boxContLeft">
    <div id="listenSlide1" class="slideLeft" style=" min-height:300px;">


    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide2" class="slideRight" style=" min-height:300px;">


    </div>
</div>






<div class="boxContLeft">
    <div id="listenSlide3" class="slideLeft" style=" min-height:300px;">


    </div>
</div>
