@{
    Layout = null;
}




<script type="text/javascript">
    $(document).ready(function () { AlignSimilarTHeader(); });
    $(window).resize(function () { AlignSimilarTHeader(); });
</script>


<div id="listenSlideContHolder" style=" float:right; width:100%; min-height:380px; ">
<div class="CompCheckC">



        <div class="PopularHeaderCont">
    
            <div id="CompToolHeader2_header">
                <div class="FeaturedHeaderBack">
                    <a href="/listen/similar">Find playlists similar to yours</a>
                </div>
                <div class="FeaturedSubHeader"></div>
            </div>

        </div>





        <div class="MainCompContH">
            
            <div class="ComLeftS">
                
                <div>
                    @Html.Action("cComp_GetUserPlaylists", "compatibilityCheck")
                </div>
                    
                    
                <script type="text/javascript">
                    $(document).ready(function () {
                        change_UserComp_playlist(document.getElementById("ChoosePlaylist"));
                    });
                </script>

            </div>



            <div class="CompCSep"></div>



            <div class="ComMidS">
                <div class="CompTxtD">Choose songs you like from your playlist</div>

                <div class="CompCirCont">
                    <div id="CompCir1"></div>
                    <div id="CompCir2"></div>
                </div>

                <div id="SongsCompContHolder1"></div>
            </div>




            <div class="CompCSep"></div>



            <div id="PlstCompSearchResultsCt" class="ComRightS">
            </div>




            <input type="button" value="Start Again" onclick="CleanSearchResults();" style=" float:left; width:68.3%; height:30px; margin-top:16px; border-radius:2px;" />
            <input type="button" value="Get More Details" onclick="window.location='/listen/similar#desc';" style=" float:left; width:30%; height:30px; margin-top:16px; margin-left:1.3%; border-radius:2px;" />

        </div>


</div>
</div> 


