@model hypster.ViewModels.createViewModel
@{
    ViewBag.Title = "Create free playlist | online playlist";
    ViewBag.Desc = "Create online music playlist, and listen commercial free music.";
    ViewBag.ActivePage = "create";

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appCreate\" >";
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("color", "#FFFFFF");
</script>
<div class="crtMCh1">
    <div id="CreateSection1" onclick="window.location='/create/player';" title="Create player for Tumblr or Blogger" onmouseover="$('#CreateSection1_ST1').css('display','none'); $('#CreateSection1_ST2').css('display','block');" onmouseout="$('#CreateSection1_ST1').css('display','block'); $('#CreateSection1_ST2').css('display','none');">
        <div id="CreateSection1_ST1">
            <div class="secImgs">
                <img id="CreateSection1_img" alt="" src="/imgs/create/create_player_icon.png" />
            </div>
            <div class="secText">CREATE PLAYER</div>
        </div>

        <div id="CreateSection1_ST2">
            <div style="font-size:26px; font-weight:bold; margin-top:65px;">&nbsp;</div>
            LOOKING FOR A TUMBLR MUSIC PLAYER OR A WAY TO FEATURE YOUR FAVORITE ARTISTS ON YOUR BLOG? CREATING A PLAYER
            ALLOWS YOU TO PLACE A CUSTOMIZABLE PLAYLIST ON YOUR SITE, MAKING IT
            EASY TO SHARE THE MUSIC YOU ARE CURRENTLY INTO.
            <br />
            <div class="crtLgnBtn1">LOGIN</div>
        </div>
    </div>

    <div id="CreateSection2" onclick="window.location='/create/playlist';" title="Create Playlist" onmouseover="$('#CreateSection2_ST1').css('display','none'); $('#CreateSection2_ST2').css('display','block');" onmouseout="$('#CreateSection2_ST1').css('display','block'); $('#CreateSection2_ST2').css('display','none');">
        <div id="CreateSection2_ST1">
            <div class="secImgs">
                <img id="CreateSection2_img" alt="" src="/imgs/create/create_playlist_icon.png" />
            </div>
            <div class="secText">CREATE PLAYLIST</div>
        </div>

        <div id="CreateSection2_ST2">
            <div style="font-size:26px; font-weight:bold; margin-top:65px;">&nbsp;</div>
            BUILD A PLAYLIST USING OUR EXTENSIVE CATALOGUE OF MUSIC TO SHARE WITH
            OTHERS ON YOUR BLOG OR WEBSITE. LISTEN TO IT ANYWHERE YOU HAVE ACCESS
            TO THE INTERNET.
            <br />
            <div class="crtLgnBtn1">LOGIN</div>
        </div>
    </div>

    <div id="CreateSection3" onclick="window.location='/create/station';" title="Create Radio Station" onmouseover="$('#CreateSection3_ST1').css('display','none'); $('#CreateSection3_ST2').css('display','block');" onmouseout="$('#CreateSection3_ST1').css('display','block'); $('#CreateSection3_ST2').css('display','none');">
        <div id="CreateSection3_ST1">
            <div class="secImgs">
                <img id="CreateSection3_img" alt="" src="/imgs/create/create_station_icon.png" />
            </div>
            <div class="secText">CREATE STATION</div>
        </div>

        <div id="CreateSection3_ST2">
            <div style="font-size:26px; font-weight:bold; margin-top:65px;">&nbsp;</div>
            WANT TO FIND SOME NEW MUSIC?<br /> TELL US YOUR FAVORITE ARTIST,<br /> SONG OR
            GENRE AND WE'LL USE THIS INFRMATION TO CREATE A MUSIC<br /> STATION FOR
            YOU.
            <br />
            <div class="crtLgnBtn1">LOGIN</div>
        </div>
    </div>
</div>













