@model hypster.ViewModels.createPlayer_ViewModel
@{
    ViewBag.Title = "Create Free Player | Hypster - free music online - player for tumblr";
    ViewBag.Desc = "Create music player for tumblr or website.";

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appCreate/player\" >";
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<div class="createMenuCont">
    <div id="CreatePlaylistSection1" onclick="window.location='/create/player';" title="Search Music">
        CREATE PLAYER
    </div>
    <div id="CreatePlaylistSection2" onclick="window.location='/create/playlist';" title="Listen Playlists">
        CREATE PLAYLIST
    </div>
    <div id="CreatePlaylistSection3" onclick="window.location='/create/station';" title="Listen Radio Stations">
        CREATE STATION
    </div>
</div>

<div class="crtPlstCnt1">
    <div style="float:left; width:100%;">
        <div id="CreateContHolder" style="float:left; width:100px; margin-top:-1px;">
        @if (ViewBag.Action == "EDT")
        {
            Html.RenderAction("getPlayer", "player", new { id = ViewBag.PlType });
        }
        else
        {
            Html.RenderAction("getPlayer", "player", new { id = "" });
        }
        </div>
    </div>
</div>


<script>
    CPLS(1);
</script>
