@{
    ViewBag.Title = "Weightless Music Video by BadDiverBill and Ron Lynne.";
    ViewBag.Desc = "By being ‘Bad’ YOU can do something good!!";
}


<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });


    $(document).ready(function () {
        var ss_cont = document.createElement('script');
        ss_cont.src = "http://i.po.st/static/v3/post-widget.js#publisherKey=caq8eudavn7j6erou9n3";
        var ss_cont_obj = document.getElementById('CompSocH1');
        ss_cont_obj.parentNode.insertBefore(ss_cont, ss_cont_obj);
    });

</script>






<div class="boxContRight boxContRightTop">
    <div class="slideRight" style=" min-height:300px; font-size:16px; ">
        
        
        <h2 style=" width:100%; padding:8px 0 8px 0; background-color:#151515; margin:10px 0 25px 0;">&nbsp;&nbsp;Weightless Music Video by BadDiverBill and Ron Lynne.</h2>
        

        <div style="width:1010px; height:550px; background-color:#151515; border:5px solid #151515; border-radius:5px; margin-bottom:20px;">
            <iframe width="1010" height="550" src="//www.youtube.com/embed/WgdnKQKueNk?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>



        <a href="https://itunes.apple.com/us/album/weightless-single/id635982760" style=" float:left; width:1020px; height:120px; line-height:120px; background-color:#ffa910; border-radius:5px; color:#000000; font-size:28px; text-align:center; cursor:pointer;">
            DOWNLOAD ‘Weightless’ TODAY!!
        </a>

        
    </div>
</div>




<div class="boxContLeft">
    <div class="slideLeft" style=" min-height:30px; font-size:16px;">
        
        <div id="CompSocH1" style=" float:right; margin-top:5px;">

        <div class="pw-widget pw-counter-horizontal" pw:image="" pw:url="http://hypster.com/badDiverBill" pw:title="Weightless Music Video by BadDiverBill and Ron Lynne.">
	        <a class="pw-button-tumblr pw-look-native"></a>
	        <a class="pw-button-blogger pw-look-native"></a>
	        <a class="pw-button-facebook pw-look-native"></a>
	        <a class="pw-button-twitter pw-look-native"></a>
	        <a class="pw-button-post-share"></a>
        </div>

        </div>

    </div>
</div>




<div class="boxContRight">
    <div class="slideRight" style=" min-height:400px;">

        <div style=" float:left; width:1024px; font-size:18px; ">
            
            <h2 style=" color:#fcf088; margin-top:13px;">By being ‘Bad’ YOU can do something good!!</h2>
            
            He may be known as the ‘bad’ boy of the diving/beach/drinking world but now, BadDiverBill, along with musician Ron Lynne, has recorded a song with a portion of the proceeds to benefit The Ocean Conservancy.<br />
            <br />
            Bill's motto is: 'BadDivers always do something good' and in the case of "Weightless" Bill has genuinely presented us with something good by donating to a cause close to his heart. It's quite possible that they created a successor to the evergreen scuba/boating/drinking genre made popular by Jimmy Buffett, Alan Jackson and Jack Johnson.  In fact, you're likely to hear "Margaritaville" or "It's 5 'o clock Somewhere" from New York Irish pubs to a Honduras taco stand.<br />
            <br />
            They have now released the music video for ‘Weightless’!<br />
            Sing along to it on a dive boat, in a bar, or by the campfire!!<br />
            Share it with scuba enthusiasts, ocean lovers and beach blown beauties.<br />
            <br />
            <a href="https://itunes.apple.com/us/album/weightless-single/id635982760" style=" color:#fcf088;">DOWNLOAD ‘Weightless’ TODAY!!</a><br />
        </div>

    </div>
</div>





<div class="boxContLeft">
    <div class="slideLeft" style=" min-height:30px; font-size:16px;">

    </div>
</div>




