
@if (Request.IsAuthenticated)
{
    <div class="LoginCont">@Html.ActionLink("Log out", "LogOff", "maccount")</div>
    
    <div class="LoginAcctCont">
        <a class="mAccount" href="/m/maccount">My Account</a>
    </div>
    
    <div class="LoginPlrCont" onclick="OpenExsPlayer('@User.Identity.Name');">My Player</div>
}
else
{
    <div class="LoginCont">
       <a href="/m/maccount/Register">Register</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/m/maccount/SignIn">Login</a> 
    </div>
}
