@{
    ViewBag.Title = "Login - Please pause JAWS as it is not compatible with the site.";
    Layout = "/Areas/black/Views/Shared/_bLayout.cshtml";
}




<div class="cir_1"> 

    <div style=" float:left; width:100%; margin:100px 0 0 90px; ">
        <h3 style=" font-weight:normal;">Hypster Login</h3>
    </div>

</div>



<div class="cir_2"> 

    <div id="msgBox1">

        
        Username<br />
        <input type="text" id="txtUserName" name="txtUserName" value="" style=" width:320px; height:25px; line-height:25px; font-size:18px; margin:0 0 13px 0; " />
        <br />
        

        Password<br />
        <input type="password" id="txtPassword" name="txtPassword" value="" style=" width:320px; height:25px; line-height:25px; font-size:18px; margin:0 0 13px 0; " />

        <br />
        <div>
            <div onclick="loginUser();" style=" float:left; width:200px; height:30px; line-height:30px; margin:13px 0 0 0; background-color:#CC9933; border-radius:3px; cursor:pointer; text-align:center;">
                Login
            </div>
        
            <span onclick="window.location='/black/bAccount/Register';" style=" float:left; width:100px; height:30px; line-height:30px; margin:13px 0 0 13px; border-radius:3px; cursor:pointer; text-align:center;">
                Register
            </span>
        </div>

    </div>

    <div id="msgCh1" style=" margin:10px 0 0 0; color:#CC0000;"></div>

</div>







<script type="text/javascript">
    $(document).ready(function () {
        $("#txtUserName").focus();

        if (is_speech_sound == 1) {
            
            window.speechSynthesis.cancel();
            var msg = new SpeechSynthesisUtterance('Hypster Login.');
            window.speechSynthesis.speak(msg);

            setTimeout(function () {
                var msg1 = new SpeechSynthesisUtterance('For registration press SHIFT. Please enter your user name and press ENTER.');
                window.speechSynthesis.speak(msg1);
            }, 2300);
        }
    });
</script>



<script type="text/javascript">

    var CURR_STEP = 1;
    var curr_interval = null;

    function HandleKeyAction(e) {

        var KEY_CODE = 0;

        if (window.event) {
            KEY_CODE = window.event.keyCode;
        }
        else {
            KEY_CODE = e.which;
        }


        //alert(KEY_CODE);
        


        //ESC
        if (KEY_CODE == 27) {
            //need to start again
            window.location.reload();
            return;
        }



        if (KEY_CODE == 13) {

            if (is_speech_sound == 1) {
                window.speechSynthesis.cancel();
            }

            if (CURR_STEP == 1) {

                if (is_speech_sound == 1) {
                    var msg_username = new SpeechSynthesisUtterance('Your username is ' + $("#txtUserName").val());
                    window.speechSynthesis.speak(msg_username);
                }

                $("#txtPassword").focus();

                if (is_speech_sound == 1) {
                    var msg = new SpeechSynthesisUtterance('Please enter your password and press ENTER');
                    window.speechSynthesis.speak(msg);
                }

                CURR_STEP = 2;
                return;
            }


            if (CURR_STEP == 2) {

                loginUser();

                return;
            }

            
            return;
        }


        if (KEY_CODE == 16) {
            window.location = '/black/bAccount/Register';
        }




        // if no key pressed then say search phrase
        //
        //------------------------------------------------------------------------------
        if (is_speech_sound == 1) {
            window.speechSynthesis.cancel();
            clearTimeout(curr_interval);
        }

        curr_interval = setTimeout(function () {
            if (is_speech_sound == 1) {
                var read_search_msg = new SpeechSynthesisUtterance(String.fromCharCode(KEY_CODE));
                window.speechSynthesis.speak(read_search_msg);
            }
        }, 300);
        //------------------------------------------------------------------------------


    }





    function loginUser() {

        if (is_speech_sound == 1) {
            var msg = new SpeechSynthesisUtterance('Signing you in... Please wait.');
            window.speechSynthesis.speak(msg);
        }

        CURR_STEP = 3;


        setTimeout(function () {
            $.ajax({
                type: "POST",
                url: "/black/bAccount/LoginUser?username=" + encodeURI($("#txtUserName").val()) + "&password=" + encodeURI($("#txtPassword").val()),
                async: true,
                success: function (data) {
                    if (data == "wrong user/name password") {
                        $("#txtUserName").focus();
                        $("#txtUserName").val("");
                        $("#txtPassword").val("");

                        if (is_speech_sound == 1) {
                            var msg = new SpeechSynthesisUtterance('wrong username or password. please try again. Enter your user name and press ENTER.');
                            window.speechSynthesis.speak(msg);
                        }

                        CURR_STEP = 1;
                    }
                    else {
                        $("#msgCh1").html(data);
                    }
                }
            });
        }, 4000);
        
    }

</script>
