@model List<hypster_tv_DAL.Manual>
@{
    ViewBag.Title = "How to use | Hypster - free playlist and player online";
    ViewBag.Desc = "Learn how to create and embed music players, create playlists and more";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    active_menu = ".mHowTos";
    //$(".mHowTos").css("color", "#d4ae52");
</script>




@{ int slide_num = 0; }
@foreach (var item in Model)
{
    
        <div class="boxContRight @if(slide_num == 0){<text>boxContRightTop</text>}">
            <div class="slideRight" style=" min-height:250px;">

                    <div class="ManualArCont">

                        <div class="MAcont" onclick="window.location='/resources/manuals/details/@item.Manual_Guid';">
                            <div class="MAheader" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" >@item.Manual_Header</div>

                            <div class="MAimg" style=" background:url(http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/imgs/manuals/@item.Manual_Guid/@(item.Manual_ID).jpg) center;"></div>
                        </div>

                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")

                        <!-- 06_25 -->
                        
                    </div>

            </div>
        </div>




        <div class="boxContLeft">
            <div class="slideLeft" style=" min-height:60px;">

            </div>
        </div>
    
    slide_num = slide_num + 1;
}







<div class="boxContRight">
    <div class="slideRight" style=" min-height:45px;">
            
            @if (ViewBag.prevPageID > 0)
            {
                <input id="Charts_PrevPage" type="button" onclick="window.location='/resources/manuals/page/@ViewBag.prevPageID';" value="Prev Page" />
            }

            @if (ViewBag.nextPageID > 0)
            {
                <input id="Charts_NextPage" type="button" onclick="window.location='/resources/manuals/page/@ViewBag.nextPageID';" value="Next Page" />
            }

    </div>
</div>
