@model List<hypster_tv_DAL.FeaturedContent>
@{
    Layout = null;
}



<div style=" float:left; width:100%; ">

    @{ int counter = 0; }
    @foreach(var item in Model)
    {
        if (item.fc_href_mobile != "")
        {
            
            if (counter == 12)
            {
                <div style=" float:left; width:100%; height:20px; margin:5px 0 10px 0;"></div>
                counter = 0;
            }
        
            <div class="featuredItm1">
                <img alt="" src="/imgs/home/home_slideshow/@item.fc_image" onclick="window.location='@item.fc_href_mobile';" style=" float:left; width:100%; cursor:pointer;" />

                <div style=" float:left; width:99%; height:25px; line-height:25px; padding-left:1%; background-color:#121212; color:#dedede; ">
                    @item.fc_name
                </div>
            </div>
        
        
            counter = counter + 1;
        }
    }

</div>
