@{
    ViewBag.Title = "";
    Layout = "/Areas/senses/Views/Shared/_srLayout.cshtml";
}





<div style=" float:left; width:100%; min-height:450px; border:1px solid #318E8A;">
    


    <div class="ctL1" style=" background:#D8D8D8 url('/Areas/senses/imgs/senses_back/back_2.jpg') no-repeat center;">
        
        <img alt="" src="/Areas/senses/imgs/senses_ct_icon.png" style=" float:left; margin:290px 0 0 270px;" />

    </div>



    <div class="ctR1">
        
        <div style=" float:left; width:100%; height:420px; margin:15px 0 0; background-color:Black;">

                
                <div style=" float:left; width:92%; height:330px; overflow:auto; margin:50px 0 0 30px; color:#FFFFFF; ">
                    
                    To start using Hypster, you will need to have an account. If you do not have an account, You will need to follow our instructions to register<br />
                    <br />
                    Once you have logged in, you can use a keyboard a mouse or voice commands to navigate through the website<br />
                    <br />
                    To activate voice commands, You will need to press the control button You can say my playlists, charts, radio, my account, play, pause, skip, search music, and more<br />
                    <br />
                    Shortcuts it's another way to navigate through website very fast, to get from home to your first playlist you need to press 1 which is my playlists, 1 which is first playlist<br /> 
                    To search to music you need to click 2 and start typing you search term or say it. To listen newest music chart click 3, 1.
                    <br />
                    If you are using the keyboard the Escape button will bring you one page back, enter will make a selection. The arrow keys will navigate through the list and 1, 2, 3 buttons can be used as well.<br />
                    <br />
                    Depending on the page that you are on, these buttons will do different things. For example, to add songs to a playlist you can hit 1 or to remove songs from a playlist, hit 2.<br />
                    <br />
                    You can add songs to your playlists by searching for music. You can discover music by listening to radio, charts, et cetera.<br />
                    <br />
                    Please press Escape to proceed to the website<br />

                </div>

            
        </div>

    </div>




</div>










<script type="text/javascript">
    $(document).ready(function () {


        cancelSpeech();

        setTimeout(function () {

            if (is_speech_sound == 1) {
                try {
                    var audio = new Audio('http://voice.hypster.com/sound/tutorial.mp3');
                    audio.play();
                } catch (ex) { }
            }

         

        }, 1000);


    });



    var soundEmbed = null;
    function soundPlay(which) {
        if (!soundEmbed) {
            soundEmbed = document.createElement("embed");
            soundEmbed.setAttribute("src", "http://voice.hypster.com/sound/" + which + ".mp3");
            soundEmbed.setAttribute("hidden", true);
            soundEmbed.setAttribute("autostart", true);
        }
        else {
            document.body.removeChild(soundEmbed);
            soundEmbed.removed = true;
            soundEmbed = null;
            soundEmbed = document.createElement("embed");
            soundEmbed.setAttribute("src", "http://voice.hypster.com/sound/" + which + ".mp3");
            soundEmbed.setAttribute("hidden", true);
            soundEmbed.setAttribute("autostart", true);
        }
        soundEmbed.removed = false;
        document.body.appendChild(soundEmbed);
    }
    
</script>






<script type="text/javascript">

    var CURR_STATE = 1;

    function HandleKeyAction(e) {

        var KEY_CODE = 0;

        if (window.event) {
            KEY_CODE = window.event.keyCode;
        }
        else {
            KEY_CODE = e.which;
        }

        //alert(KEY_CODE);

        if (KEY_CODE == 27) {
            startHypster();
        }


        if (KEY_CODE == 32) {

            if (CURR_STATE == 1) {

                pauseSpeech();
                CURR_STATE = 0;
            }
            else {

                resumeSpeech();
                CURR_STATE = 1;
            }
        }

    }




    function startHypster() {
        cancelSpeech();
        $("#msgBox1").html("loading step 2...");
        window.location = "/senses/sStart/home";
    }

</script>
