@model List<hypster_tv_DAL.Tag>
@{
    Layout = null;
}

         
<div style=" float:left; width:100%; margin:0px 0 0 5px;">
                
    @for(var i=0; i<Model.Count; i++)
    {   
        <div onclick="window.location='/tags/@HttpUtility.UrlEncode(Model[i].Tag_Name)';" style=" float:left; min-width:45px; height:24px; margin:5px 0 0 5px; background-color:#323232; border-radius:3px; text-align:center; padding:0 4px 0 4px; color:#dedede; cursor:pointer;">
            @Model[i].Tag_Name
        </div>
            
        if (i == 40)
        {
            break;
        }
    }

</div>






