@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = null;
}



<!-- *************************************CONTENT************************************* -->
<div style="float:left; width:700px; margin:5px 0 15px 14px; " >
    <div style="float:left; width:700px; margin-top:13px;">

        <div onclick="window.location='/hypster/New_Classic_Compact_Player';" style="float:left; margin:0 0 0 0; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_classic_player_widget.png" />
            <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">New Classic <br />Compact Player</div>
        </div>

        @*<div onclick="LoadPlayerCont('/player/getPlayer/BarPlayer');" style="float:left; margin:0 0 0 20px; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
                <img alt="" src="/imgs/get_player/bar_widget.png"  />
                <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">Bar player</div>
            </div>*@

        <div onclick="LoadPlayerCont('/player/getPlayer/ClassicPlayer');" style="float:left; margin:0 0 0 30px; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_1.png" />
            <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">Classic player</div>
        </div>

        <div onclick="window.location='/hypster/New_Player_For_Tumblr_Code';" style="float:left; margin:0 0 0 30px; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget.png" />
            <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">HypsterHi5 player</div>
        </div>
    </div>

    <div style="float:left; width:700px;">
        <div onclick="window.location='/hypster/New_Player_For_Tumblr_Code_1';" style="float:left; margin:30px 0 0 0px; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget_1.png" />
            <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">Hyp.FM player</div>
        </div>

        <div onclick="window.location='/hypster/New_Player_For_Tumblr_Code_2';" style="float:left; margin:30px 0 0 20px; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget_2.png" />
            <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">Dual player</div>
        </div>
    </div>

    <div style="float:left; width:700px;">
        <div onclick="LoadPlayerCont('/player/getPlayer/RadioPlayer');" style="float:left; margin:30px 0 0 0; border:1px solid #d4ae52; padding:3px; background-color:#FFFFFF; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_radio.png" />
            <div style="width:100%; text-align:center; font-size:17px; color:#d4ae52;">Radio player</div>
        </div>
    </div>
</div>
<!-- *************************************CONTENT************************************* -->




