@model List<hypster_tv_DAL.AolSeedVideo>
@{
    Layout = null;
}



<div style=" float:left; width:100%; color:#d4ae52; font-size:18px; text-align:left; margin-top:6px;">
    Related Videos:
</div>
        

@foreach (var item in Model)
{   
    <div style=" float:left; width:70%; height:190px; padding:15% 15% 0 15%; background-color:#272727; border-radius:3px; margin-top:10px;">

        <a class="ppSeedsVC" href="/relatedVideos?ss=@ViewBag.ss&al=@item.id" target="_blank">
            <img alt="" src="@item.image" />
            <div style=" line-height:20px; text-align:center; height:60px; ">@item.title</div>
        </a>

    </div>
}