@model List<hypster_tv_DAL.videoClip>
@{
    Layout = null;
}


<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() > 1024) {
            var margin_left = $(window).width() - 1024 - 30;
            var cont_width = 1024 + 30 + (margin_left / 2) - 15;
            $("#listenSlide2_header").css("width", (cont_width - 750 - 20) + "px");
        }
    });

    $(window).resize(function () {
        if ($(window).width() > 1024) {
            var margin_left = $(window).width() - 1024 - 30;
            var cont_width = 1024 + 30 + (margin_left / 2) - 15;
            $("#listenSlide2_header").css("width", (cont_width - 750 - 20) + "px");
        }
    });
</script>





<div class="FeaturedVideoCont">
            
        <div id="listenSlide2_header">
                
            <div class="FeaturedHeaderBack">
                <div>Video</div>
            </div>

            <div class="FeaturedSubHeader">
            </div>

        </div>


        <div class="FeaturedAdCont">
            <div id="TopAdd1">
                @Html.Partial("~/Views/hypAds/ad_728x90.cshtml")

            </div>
            <!-- 06_25 -->
            
        </div>

</div>




<div class="FeaturedVideoInner">
    @foreach(var clip in Model)
    {   
        <a class="VideoThumbBox" href="http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]/video/@(clip.Guid)">
            <img alt="@clip.Name" src="http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]/uploads/covers/@(clip.Guid).jpg" />
            <div class="videoBoxHeader">&nbsp;&nbsp;@clip.Name</div>
        </a>
    }
</div>