@using Recaptcha;
@{
    ViewBag.Title = "Check fo updates";
    ViewBag.Desc = "Check fo updates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>




<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">




            <div class="ContactUsCont">
                
                <div style=" float:left; width:100%; margin:0 0 15px 0; font-size:20px;">
                    
                    @if(ViewBag.ServerVer == ViewBag.UserVer)
                    {
                        <text>You are up to date with our latest @ViewBag.ServerVer version.</text>
                    }
                    else
                    {
                        <text>Latest Version is @ViewBag.ServerVer and your's @ViewBag.UserVer. 
                            <a href="/hypster_for_desktop" style=" text-decoration:underline; color:#FCF088;">
                                Hypster For Desktop Home Page
                            </a>
                        </text>
                    }

                </div>

            </div>



    </div>  
</div>
    
