@model List<hypster_tv_DAL.MusicGenre> 
@{
    Layout = null;
}


<div class="hmRdoTitle" onclick="window.location='/listen/radio';">
    HYPSTER RADIO
</div>


<div class="FeaturedVideoInner">
        @{ int counter = 1;}
        @foreach (var item in Model)
        {   
            <a class="VideoThumbBox" onmouseover="$('#rdoSt_@item.Genre_ID').css('display','block');" onmouseout="$('#rdoSt_@item.Genre_ID').css('display','none');" style=" background: url('/imgs/radio/genres/@(item.GenreName.Replace("&", "_and_")).jpg?id=2873628'); background-position:center; " onclick="OpenPlayerM('/music/@HttpUtility.UrlEncode(item.GenreName.Replace("&", "_and_").ToLower())')">
                <span id="rdoSt_@item.Genre_ID">
                    @item.GenreName
                </span>
            </a>
            
            if (counter == 8)
            {
                break;
            }
            counter += 1;
        }
</div>


<div class="shrTopC1" style="margin-top:40px;">
    <span>@Html.Partial("~/Views/hypAds/ad_728x90_mid.cshtml")</span>
</div>
