@{
    Layout = null;
}

<center>
        <div class="BottomPane">
            <div style=" float:left; width:290px; height:250px; margin-top:10px;">
                <img alt="" src="/imgs/shared/footer_logo_1.png" style=" padding:13px 5px 15px 50px;" />


                <div style=" float:left; width:100%; height:22px;">
                        <div id="hyp_sosialHolder1" onmouseover="this.style.display = 'none'; $('#hyp_SNR_BtnHolder_1').css('display','block');">
                            <div class="hyp_SI_Cont_google"></div>
                            <div class="hyp_SI_Cont_twitter"></div>
                            <div class="hyp_SI_Cont_facebook"></div>
                        </div>

                        <div id="hyp_SNR_BtnHolder_1" style=" float:left; width:100%; display:none;">
                                
                        </div>
                </div>

            </div>


            <div class="BottomPaneInnr">

                <div class="MenuItmCont">
                    <a href="/hypster/New_Player_For_Tumblr">New Tumblr Player</a>
                    <a href="/resources/manuals">How To Use</a>
                </div>


                <div class="MenuItmCont">
                    <a href="/" >Hypster</a>
                    <a href="/listen" >Listen</a>
                    <a href="/create" >Create</a>
                    <a href="/connect" >Connect</a>
                </div>

                <div class="MenuItmCont">
                    <a href="/listen/radio" >Radio</a>
                    <a href="http://@System.Configuration.ConfigurationManager.AppSettings["videoHostName"]" >TV</a>
                    <a href="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]" >Music News</a>
                </div>
                        
                <div class="MenuItmCont">
                    <a href="/hypster/Contact_Us" >Contact Us</a>
                    <a href="/hypster/About_Us" >About Us</a>
                    <a href="/hypster/Privacy_Policy" >Privacy Policy</a>
                    <a href="/hypster/Terms_of_Service" >Terms of Service</a>
                </div>


                    
                <div style=" float:right; width:100%;">
                    <div class="FeaturedAdContBottom">
                            <div id="TopAdd_Bottom_2938eu93"></div>
                            <!-- 06_25 -->
                            
                    </div>
                </div>

            </div>



            <div style=" float:left; width:98%; height:15px; margin-top:-10px; font-size:9px; text-align:right; ">@System.Configuration.ConfigurationManager.AppSettings["server_ID"]</div>
        </div>

</center>

