@{
    Layout = null;
}




<center>
<div class="BottomPane">
            

        <div class="BtmLeftCH1">

            <div class="BLLogCH1"><div>HYPSTER</div></div>

            <div style=" float:left; width:100%; height:22px;">
                    
                    <div style=" float:left; margin:10px 0 0 50px;">
                        <a class="flwUs_yw_fbk" href="https://www.facebook.com/Hypster" target="_blank"></a>
                        <a class="flwUs_yw_twr" href="https://twitter.com/Hypsterdotcom" target="_blank"></a>
                        <a class="flwUs_yw_tum" href="http://hypsterblog.tumblr.com/" target="_blank"></a>
                    </div>

            </div>

        </div>



        <div class="BottomPaneInnr">

            <div class="MenuItmCont">
                <a href="/hypster/New_Player_For_Tumblr">NEW TUMBLR PLAYER</a>
                <a href="/resources/manuals">HOW TO USE</a>
                <a href="/hypster/changes_on_hypster">TRACK CHANGES</a>
                <a href="/hypster/apps">APPS</a>
            </div>


            <div class="MenuItmCont">
                <a href="/" >HYPSTER</a>
                <a href="/listen" >LISTEN</a>
                <a href="/create" >CREATE</a>
                <a href="/what-is-hipster-vs-hypster">HIPSTER VS. HYPSTER</a>
            </div>

            <div class="MenuItmCont">
                <a href="/listen/radio" >RADIO</a>
                <a href="/breaking" >#BREAKING</a>
                <a href="http://senses.hypster.com" >HYPSTER SENSES</a>
                <a href="/artists" >ARTISTS</a>
            </div>
                        
            <div class="MenuItmCont">
                <a href="/hypster/Contact_Us" >CONTACT US</a>
                <a href="/hypster/About_Us" >ABOUT US</a>
                <a href="/hypster/Privacy_Policy" >PRIVACY POLICY</a>
                <a href="/hypster/Terms_of_Service" >TERMS OF SERVICE</a>
            </div>

        </div>

            


        <div style=" float:right; width:100%;">
            <div class="FeaturedAdContBottom">
                
                <iframe  id="FrameAdBottom"  src="http://ads.hypster.com/i_pl_bottom_728x90.html" width="728" height="90" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                <!-- 06_25 -->
                   
            </div>
        </div>


        <div class="sconf1">@System.Configuration.ConfigurationManager.AppSettings["server_ID"]</div>

</div>
</center>









<script type="text/javascript">
    $(document).ready(function () {
        $(".MenuItmCont a").bind("mouseover", function () { $(this).css("color","#000000"); });
        $(".MenuItmCont a").bind("mouseout", function () { $(this).css("color", "#FFFFFF"); });
    });
</script>

@Html.Partial("~/Views/Shared/pr_TrackingPixel.cshtml")