@{
    Layout = null;
}

<div style="float:left; width:310px; margin-top:-20px; justify-content:space-around;">
    <div style="margin-bottom:10px">@Html.Partial("~/Views/hypAds/ad_300x250.cshtml")</div>
    <div style="margin-top:10px">@Html.Partial("~/Views/hypAds/ad_300x250_btf.cshtml")</div>
</div>

