@{
    ViewBag.Title = "Hypster | Forgot Password";
    ViewBag.Desc = "";
}



<script type="text/javascript">
    $(document).ready(function () {
        RenderForgotPassword();
    });
    $(window).resize(function () {
        RenderForgotPassword();
    });
</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">



            <div style=" float:left; width:1024px; " >

                    <div style=" float:left; width:680px; min-height:250px; padding:10px; background-color:#292929; border-radius:3px; border-radius:2px; text-align:left; ">
         
                        <div style=" float:left; margin:10px 0 0 20px;">
                             <h2>Password recovery. Please check your email</h2>   
                        </div>
        
                    </div>
            </div>



    </div>
</div>
