
@if (Request.IsAuthenticated)
{
    <div class="LoginCont">@Html.ActionLink("Salir", "LogOff", "Cuenta")</div>
    <div onclick="window.location='/es/Cuenta';" class="LoginAcctCont">Mi Cuenta</div>
    <div class="LoginPlrCont" onclick="OpenExsPlayer();">Mi Reproductor</div>
}
else
{
    <div class="LoginCont">
       <a href="/es/Cuenta/Registrar">Registrar</a>&nbsp;|&nbsp;<a href="/es/Cuenta/Registrarse">Registrarse</a> 
    </div>
}
