@model hypster.ViewModels.listenViewModel
@{
    ViewBag.Title = "Hypster Home";
    ViewBag.Desc = "Hypster Home";
    Layout = "~/Areas/HypDesktop/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {

        //alert($(window).height() - 10);

        $("#MenuHSub").css("height", ($(window).height() - 10) + "px");
        $(".MenuHSubItm").css("height", (($(window).height() / 2) - 30) + "px");
        $(".MenuHSubItm img").css("margin-top", (($(window).height() / 5) - 30) + "px");

        if ($(window).height() > 200) {
            $("#MenuHSub").css("display", "block");
        }
    });



    $(window).resize(function () {

        //alert($(window).height() - 10);

        $("#MenuHSub").css("height", ($(window).height() - 10) + "px");
        $(".MenuHSubItm").css("height", (($(window).height() / 2) - 30) + "px");
        $(".MenuHSubItm img").css("margin-top", (($(window).height() / 5) - 30) + "px");

        if ($(window).height() > 200) {
            $("#MenuHSub").css("display", "block");
        }
    });


</script>



<div style=" float:left; width:100%; background-color:#202020; ">
<center>

    <!-- background-color:#1d1d1c;  -->
    <div style=" clear:both; width:1020px; min-height:500px;">

        
        <!--div id="listenTab2" style=" display:block; background-color:#202020;"-->
            


                <!--div id="MenuHSubCont" style=" display:block; min-height:550px;" -->
                    <div id="MenuHSub" style=" display:none; min-height:440px;">
                    
                      
                        <a class="MenuHSubItm" style="width:48.3%;" href="/hypsterPlayer/MPL_D?media_type=playlist&playlist_id=@(ViewBag.playlist_id)&us_id=@(ViewBag.user_id)">
                            <img alt="Create Playlist" src="/imgs/hypMenu/create_playlist.png" /><br />
                            <span>Listen: Playlists</span>
                        </a>

                        
                        <a class="MenuHSubItm" style="width:48.3%;" href="/HypDesktop/dRadio">
                            <img alt="Listen Radio Stations" src="/imgs/hypMenu/listen_radio.png" /><br />
                            <span>Listen: Radio Stations</span>
                        </a>


                        <a class="MenuHSubItm" style="width:48.3%;" href="/hypDesktop/dPopular">
                            <img alt="Listen Popular Playlists" src="/imgs/hypMenu/listen_popular.png" /><br />
                            <span>Listen: Popular Playlists</span>
                        </a>


                        <a class="MenuHSubItm" style="width:48.3%;" href="/hypDesktop/dCharts">
                            <img alt="Listen Chart Playlists" src="/imgs/hypMenu/listen_charts.png" /><br />
                            <span>Listen: Chart Playlists</span>
                        </a>

                    </div>
                <!--/div-->



        <!--/div-->
        

    </div>

</center>
</div>






