@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}


<div style="float:left; width:100%; margin:30px 0 0 0;">
    <div class="FrgtPassDoneCH1">
        <div style="float:left; margin:10px 0 0 20px;">
            <h2>Password recovery FAILED.</h2>
            <p style="font-weight:bold">Please GO BACK and<br />re-enter the Username OR Email <a href="/account/ForgotPassword" style="font-weight:bolder;color:#FF0000">HERE</a>.</p>
        </div>
    </div>
</div>
