
@if (Request.IsAuthenticated)
{
    <div class="LoginCont"><a href="/apps/appAccount/LogOff" style=" color:#1a1a1a; ">Log out</a></div>
    
    <div class="LoginAcctCont">
        <a class="mAccount" href="/apps/appAccount" style=" color:#1a1a1a; ">My Account</a>
    </div>
    
    <div class="LoginPlrCont" onclick="OpenExsPlayer('@User.Identity.Name');" style=" color:#1a1a1a; ">My Player</div>
}
else
{
    <div class="LoginCont">
       <a href="/apps/appAccount/Register" style=" color:#1a1a1a; ">REGISTER</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/apps/appAccount/SignIn" style=" color:#1a1a1a; ">LOGIN</a> 
    </div>
}
