@model hypster.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";

    AreYouAHuman.AyahServiceIntegration AyahDirect = new AreYouAHuman.AyahServiceIntegration();
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";

    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com/account/register\" >";
}






<div class="registerPMCH">
    <div class="registerPLeftCH">
                

            
            
            <div class="logHeaderCH1">
                <div>Let's get started</div>
                <h2>Become a member and enjoy free unlimited music</h2>
            </div>



            @using (Html.BeginForm("Register", "appAccount", FormMethod.Post))
            {
                <div class="regComp1">


                    <div style=" float:left; width:98%; background-color:#FFFFFF; margin-top:1px; padding-left:1%; border-radius:3px;">
                        @Html.ValidationSummary(true, "", new { @class = "txtValidator" })
                    </div>
                      

                    <div id="lgnEdtEmail">
                        <div>EMAIL:</div>
                        <input type="text" id="email" name="email" value="@ViewBag.email" maxlength="50" />
                    </div>
            
            
                    <div id="lgnEdtUsrName">
                        <div>USERNAME:</div>
                        <input type="text" id="username" name="username" value="@ViewBag.username" class="txtRegister" maxlength="20" onblur="checkUserName()" />
                    </div>
            

                    <div style="float:left; width:100%; font-size:18px; margin-top:2px;">
                        <div id="checkUserName" style=" float:left;"></div>
                        <script type="text/javascript">
                            function checkUserName() {
                                $("#checkUserName").html("");
                            }
                        </script>
                    </div>



                    <div id="lgnEdtUsrPass">
                        <div>PASSWORD:</div>
                        <input type="password" id="password" name="password" value="" maxlength="20" />
                    </div>
                        
                            
                       
                            


                    <div style=" float:left; width:100%; min-height:35px; margin-top:2px; background-color:#FFFFFF; border-radius:6px; border:1px solid #a1a2a4;">
                                
                        <div style=" float:left; margin:8px 0 0 3px; font-size:13px; color:#757575;">
                            I WANT TO :
                        </div>
                        <div style=" float:left; margin:6px 0 0 2px; font-size:13px;">
                            <input type="radio" name="interestP" value="1" />CREATE PLAYERS
                        </div>
                        <div style=" float:left; margin:6px 0 0 2px;  font-size:13px;">
                            <input type="radio" name="interestP" value="2" />LISTEN TO MUSIC
                        </div>
                        
                    </div>
                    
                    
                        
                    
                            
                             
                    
                  
                        
                    
                            
                             
                    <div style=" float:left; width:100%; margin-top:30px;">

                        <div style=" float:left; font-size:16px; margin-top:10px; color:#FFFFFF; font-weight:bold;">
                            <input type="checkbox" id="I_agree" name="I_agree" @if(ViewBag.I_agree == "on"){ <text>checked="checked"</text> } />I AGREE TO THE <a href="/apps/appHypster/Terms_of_Service" target="_blank" style=" text-decoration:underline; color:#FFFFFF;">TERMS AND CONDITIONS</a>
                        </div>


                        <div style=" float:left; font-size:16px; margin-top:10px; color:#FFFFFF; font-weight:bold;">
                            <input type="checkbox" id="checkNewsAboutMusic" name="checkNewsAboutMusic" @ViewBag.updatesAPlaylists />CHECK IF YOU WANT TO RECEIVE A REGULAR DOSE OF ALL THINGS NEW MUSIC.
                        </div>
                          

                        <input type="submit" value="SIGN UP" style=" background-color:#3fbc91; border:1px solid #3fbc91; float:right; width:100%; height:42px; font-size:21px; margin-top:30px; border-radius:3px; " />
                    </div>



                </div>
            }


    </div>




    <div class="registerPRightCH">
    </div>

</div>











<script type="text/javascript">    ggv2id = 'a827aa3b';</script>
<script type="text/javascript" src="http://g2.gumgum.com/javascripts/ggv2.js"></script>




