@{
    ViewBag.Title = "BHome";
    Layout = "/Areas/senses/Views/Shared/_bLayout.cshtml";
}


<div id="bContHolder1" style=" float:left; width:100%; ">

    <div id="msgBox1">Loading...</div>

</div>




