@{
    Layout = null;
    hypster_tv_DAL.memberManagement memberManager = new hypster_tv_DAL.memberManagement();
}

<div class="ContentHeaderInner">
    <div id="MainMenu">
        <div class="LogoCh" onclick="window.location='/apps/appHome';">
            <div class="MLogo">HYPSTER</div>
        </div>
        <div class="MenuCh">
            <div style="float:right; margin:10px 0 0 0; ">
                <div class="mListen" onmouseover="$('#mListenSM1').css('display','block');" onmouseout="$('#mListenSM1').css('display','none');">
                    <div onclick="window.location='/apps/appListen';">LISTEN</div>
                    <div id="mListenSM1">
                        <div id="mSearchSM1" onclick="window.location='/apps/appListen';">SEARCH</div>
                        <div id="mPlstsSM1" onclick="window.location='/apps/appListen?PLST=1';">PLAYLISTS</div>
                    </div>
                </div>
                <div class="mCreate" onmouseover="$('#mCreateSM1').css('display','block');" onmouseout="$('#mCreateSM1').css('display','none');" >
                    <div onclick="@if (User.Identity.IsAuthenticated) {<text>window.location='/apps/appCreate/playlist';</text>}else {<text>window.location='/apps/appCreate';</text>}">CREATE</div>
                    <div id="mCreateSM1">
                        <div id="mPlayerSM1" onclick="window.location='/apps/appCreate/player';">PLAYER</div>
                        <div id="mPlaylistSM1" onclick="window.location='/apps/appCreate/playlist';">PLAYLIST</div>
                    </div>
                </div>
                <div class="mGamehype" onclick="window.location='/apps/appGamehype';">GAMEHYPE</div>
                <div class="mBreaking" onclick="window.location='/apps/appBreaking';">NEWS</div>
                <div class="mAcct" onmouseover="$('#mAcctMCH1').css('display','block');" onmouseout="$('#mAcctMCH1').css('display','none');" onclick="acct_menu_click();">                    
                    <div id="mAcctMCH1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div id="myAcctInfo" onclick="window.location='/apps/appAccount/info';" onmouseover="page='/apps/appAccount/info';">MY ACCOUNT</div>
                            <div id="mySignOut" onclick="window.location='/apps/appAccount/logoff';" onmouseover="page='/apps/appAccount/logoff';">SIGN OUT</div>
                        }
                        else
                        {
                            <div id="myAcctInfo" onclick="window.location='/apps/appAccount/SignIn';" onmouseover="page='/apps/appAccount/SignIn';">LOGIN</div>
                            <div id="mySignOut" onclick="window.location='/apps/appAccount/register';" onmouseover="page='/apps/appAccount/register';">REGISTER</div>
                        }
                    </div>
                </div>
                <div class="mSearch" onclick="window.location='/apps/appListen';"></div>
                <div class="mDrMenu" onclick="openDrMenu();"></div>               
            </div>
        </div>
    </div>          
</div>

<div class="slCH2">
    <div class="MSCGAM">
        MUSIC + GAMING
    </div>
</div>

<div id="drSubMenu">
    <div class="drSubMenuItm" onclick="window.location='/apps/appListen';">LISTEN</div>
    <div class="drSubMenuItm" onclick="window.location='/apps/appCreate';">CREATE</div>
    <div class="drSubMenuItm" onclick="window.location='/apps/appGamehype';">GAMEHYPE</div>
    <div class="drSubMenuItm" onclick="window.location='/apps/appBreaking';">NEWS</div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="drSubMenuItm" onclick="window.location='/apps/appAccount';">ACCOUNT</div>    
    }
    else
    {
        <div class="drSubMenuItm" onclick="window.location='/apps/appAccount/SignIn';">LOGIN</div>
    }
</div>

<script type="text/javascript">
    @if (User.Identity.IsAuthenticated)
    {
        <text>var page = "/apps/appAccount/info";</text>
    }
    else
    {
        <text>var page = "/apps/appAccount/SignIn";</text>
    }

    function acct_menu_click() {
        window.location = page;
    }

    var isMenuO = false;
    function openDrMenu() {
        if (isMenuO == false) {
            $(".ContentHeaderCont").css("height", "230px");
            $("#drSubMenu").css("display", "block");
            isMenuO = true;
        }
        else {
            $(".ContentHeaderCont").css("height", "95px");
            $("#drSubMenu").css("display", "none");
            isMenuO = false;
        }
    }
</script>
