

::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #202020;
    }
::-webkit-scrollbar-thumb {
    background: #676767;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}



.MainRootCont
{
	margin:auto;
	width:717px;
}



.MainNHypPlayer
{
	float:left; min-width:717px; 
	background:#456372 url(/imgs/main_doc_back_ski.png) no-repeat;
}


.MainNHypPlayer #MainContHolder
{
	float:left; width:717px; margin:8px 0 0 0px;
}


.MainNHypPlayer .MainPlayerHoder
{
	float:left; width:394px; height:255px; background-color:#000000; border:3px solid #000000; border-radius:3px;
}

.MainNHypPlayer .MainAdsHoder
{
	float:left; width:316px; margin-left:1px;
}


.MainNHypPlayer .AdUntL
{
	float:right; width:300px; height:250px; background-color:#000000; border:5px solid #000000; border-radius:3px; margin:0px 0 0 0;
}






.MainNHypPlayer .MainPlaylistHolder
{
	float:left; width:713px; height:230px; background-color:#000000; border:2px solid #000000; border-radius:3px; margin:6px 0 0 0px;
}

.MainNHypPlayer #PlayerPlaylistHolder1
{
	float:left; width:713px; height:230px; overflow:auto; padding-top:1px;
}

.MainNHypPlayer #dr_PlaylistList
{
	float:left; width:398px; height:25px; margin:1px 1px 3px 1px; font-size:20px;  background-color:#323232; color:#EDEDED; border:none;
	
}




.MainNHypPlayer .playlistItemC
{
	float:left; width:98.5%; height:44px; overflow:hidden; background-color:#292929; margin:0 0 2px 2px; border-radius:1px;
}



.MainNHypPlayer .playlistItemC img
{
	float:left; width:50px; height:37px; margin:4px 0 0 4px; border-radius:3px; cursor:pointer;
}
.MainNHypPlayer .playlistItemC .songTtl
{
	float:left; width:265px; height:28px; line-height:28px; overflow:hidden; margin-left:10px; margin-top:4px; cursor:pointer; font-size:16px; color:#DEDEDE;
}




.MainNHypPlayer .MainTopHeader
{
	float:left; width:100%; height:32px; background-color:#000000;
}
.MainNHypPlayer .SocialHolder
{
	float:right; min-width:300px; margin:4px 0 0 3px;
}



.MainNHypPlayer #player
{
	float:left; width:394px; height:221px;
}

.MainNHypPlayer .ControlBar
{
	float:left; width:100%; height:30px; background-color:#000000; border-top:2px solid #000000;
	overflow:hidden;
}



.MainNHypPlayer #Prev_btn
{
	float:left; width:28px; height:28px; line-height:28px; margin:2px; background:#242424 url('/imgs/player/prev_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #PlPs_btn
{
	float:left; width:28px; height:28px; line-height:28px; margin:2px; background:#242424 url('/imgs/player/play_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #Next_btn
{
	float:left; width:28px; height:28px; line-height:28px; margin:2px; background:#242424 url('/imgs/player/next_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #Shuffle_btn
{
	float:left; width:28px; height:28px; line-height:28px; margin:2px; background:#242424 url('/imgs/player/shuffle_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #Mute_btn
{
	float:left; width:28px; height:28px; line-height:28px; margin:2px; background:#242424 url('/imgs/player/mute_icn.jpg') no-repeat center; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}




.MainNHypPlayer #AddNSongBtn
{
	float:right; width:28px; height:28px; line-height:28px; margin:0px; background: url('/imgs/player/add_to_playlist_icn.jpg') no-repeat center; border-radius:0px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold;
}

.MainNHypPlayer #LikePlaylist
{
	float:left; height:28px; line-height:28px; margin:2px; background:#242424; border-radius:3px; text-align:center; font-size:16px; color:#FFFFFF; cursor:pointer; font-weight:bold; 
}











/* +++++++ OLD PLAYER ++++++++++ */
.MainTopCont
{
	width:100%; height:40px; margin-top:5px;
}

.MainTopCont .MainTopInnr
{
	float:left; width:473px; height:31px; padding:2px; background-color:#282828; margin:5px 0 0 13px; border-radius:2px;
}

.MainTopCont #AddBtn
{
	display:none; float:left; width:170px; height:22px; padding:2px; background-color:#ffa910; margin:2px 0 0 3px; border-radius:2px; color:#000000; font-size:16px; line-height:21px; text-align:center; cursor:pointer;
}

.MainMidCont
{
	width:910px; height:560px;
}

.MainMidCont .MainMidInnr
{
	float:left; width:560px;
}

.MainMidCont .PlayerRoot
{
	float:left; width:475px; height:545px; background-color:#282828; border:1px solid #282828; border-radius:2px; margin:-3px 0px 0px 13px;
}

.MainMidCont #HypsterOriginalPlayer
{
	float:left;
}

.MainMidCont .SocialCont
{
	float:left; width:45px; height:220px; margin-top:20px; background-color:#282828; border:3px solid #282828; border-radius:4px; margin-left:-4px;
}

.MainMidCont .AdsCont
{
	float:left; width:350px; height:533px;
}

.MainMidCont .AdsCont .Ad1
{
	float:left; width:300px; height:250px; overflow:hidden; padding:2px; background:#555555 url('/imgs/box_back.png') repeat; border-radius:2px; margin-top:5px; margin-left:14px;
}

.MainMidCont .AdsCont .Ad2
{
	float:left; width:300px; height:250px; overflow:hidden; padding:2px; background:#555555 url('/imgs/box_back.png') repeat; border-radius:2px; margin-top:30px; margin-left:14px;
}
/* +++++++ OLD PLAYER ++++++++++ */




.plstItem_Sel
{
	float:left; width:98.5%; height:44px; overflow:hidden; background-color:#292929; margin:0 0 2px 2px; border-radius:2px;
	
	background: #ec9800; /* Old browsers */
	background: -moz-linear-gradient(top, #ec9800 0%, #d88700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9800), color-stop(100%,#d88700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ec9800 0%,#d88700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ec9800 0%,#d88700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ec9800 0%,#d88700 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ec9800 0%,#d88700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9800', endColorstr='#d88700',GradientType=0 ); /* IE6-9 */
}



.NsongsMsg
{
	float:left; width:98%; height:23px; line-height:23px; overflow:hidden; margin:0px 4px 3px 4px; padding-left:3px; background-color:#454545; border-radius:2px; text-align:left; cursor:pointer; 
}



.skpSngBtn
{
	float:right; width:30px; height:35px; margin-right:3px; background-color:#131313; line-height:35px; color:#d88700; font-size:12px; border-radius:2px; cursor:pointer; text-align:center;
	margin-top:4px;
}