@{
    Layout = null;
}


    <div class="BottomPane">


            <div class="MenuItmCont">
                <a href="/m/mhome" >Hypster</a>
                <a href="/m/mlisten" >Listen</a>
                <a href="/m/mcreate" >Create</a>
                <a href="/m/mfeatured" >Featured</a>
            </div>
           
            
            <div class="MenuItmCont">
                <a href="/m/mhypster/Contact_Us" >Contact Us</a>
                <a href="/m/mhypster/About_Us" >About Us</a>
                <a href="/m/mhypster/Privacy_Policy" >Privacy Policy</a>
                <a href="/m/mhypster/Terms_of_Service" >Terms of Service</a>
            </div>

    </div>
