@model hypster_tv_DAL.VoteForSong
@{
    Layout = null;
}






<div class="vtTopH">
    <h2>Who do you like more?</h2>
</div>


<div class="vtTopC">
                
        <div class="vtLeftC">
                        
            <div class="vtSongH">
                <div id="Song1VC">@ViewBag.Song1_ViewNum votes</div>
                <div style=" float:left; width:100%; height:33px; overflow:hidden;">
                    <h2>@Model.Song1_Title</h2>
                </div>
            </div>

            <a class="vtListenBtn" href="http://hypster.com/hypsterPlayer/MPL?song_guid=@Model.Song1_ID&song_title=@HttpUtility.UrlEncode(Model.Song1_Title)" target="_blank">
                Listen
            </a>


            @if (User.Identity.IsAuthenticated)
            {
            <div class="vtVoteBtn" onclick="VoteFor(1);">Vote</div>
            }
            else
            {
            <div class="vtVoteLoginBtn" onclick="window.location='/account/signin?ReturnUrl=%2fconnect';">Login to vote</div>
            }
            <a href="http://hypster.com/hypsterPlayer/MPL?song_guid=@Model.Song1_ID&song_title=@HttpUtility.UrlEncode(Model.Song1_Title)" target="_blank">
                <img alt="" src="http://i.ytimg.com/vi/@Model.Song1_ID/0.jpg" style=" float:left; width:355px; border-radius:2px; margin-top:10px; border:5px solid #454545;" />
            </a>
        </div>
                
        
        
        
                    
        <div class="vtLeftM">VS</div>





        <div class="vtLeftR">
                        
            <div class="vtSongH">
                <div id="Song2VC">@ViewBag.Song2_ViewNum votes</div>
                <div style=" float:left; width:100%; height:33px; overflow:hidden;">
                    <h2>@Model.Song2_Title</h2>
                </div>
            </div>

            <a class="vtListenBtn" href="http://hypster.com/hypsterPlayer/MPL?song_guid=@Model.Song2_ID&song_title=@HttpUtility.UrlEncode(Model.Song2_Title)" target="_blank">
                Listen
            </a>


            @if (User.Identity.IsAuthenticated)
            {
            <div class="vtVoteBtn" onclick="VoteFor(2);">
                Vote
            </div>
            }
            else
            {
            <div class="vtVoteLoginBtn" onclick="window.location='/account/signin?ReturnUrl=%2fconnect';">
                Login to vote
            </div>
            }
            <a href="http://hypster.com/hypsterPlayer/MPL?song_guid=@Model.Song2_ID&song_title=@HttpUtility.UrlEncode(Model.Song2_Title)" target="_blank">
                <img alt="" src="http://i.ytimg.com/vi/@Model.Song2_ID/0.jpg" style=" float:left; width:355px; border-radius:2px; margin-top:10px; border:5px solid #454545;" />
            </a>
        </div>

</div>



<script type="text/javascript">
    function VoteFor(item) {
        $.ajax({
            type: "POST",
            url: "/vote/VoteFor?V_F=" + item,
            async: true,
            success: function (data) {
                $("#Song" + item + "VC").html(data + " votes");
            }
        });
    }
</script>