@model hypster.ViewModels.chartViewModel
@{
    ViewBag.Title = Model.chart.Chart_Name + " | Chart Details";
    ViewBag.Desc = Model.chart.Chart_Desc;
    Layout = "/Views/Shared/_Layout2.cshtml";
}


<div class="chartHoldCont" style="margin-top:-20px;">
    @{ Html.RenderPartial("~/Views/charts/BuildChart_Details.cshtml", Model); }
</div>
