/* SCROLLBARS SETTINGS */
/*----------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Lato:300,900);



html
{
	scrollbar-face-color:#318e8a;
	scrollbar-base-color:#318e8a;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#313537;
	scrollbar-shadow-color:#318e8a;
	scrollbar-highlight-color:#318e8a;
	scrollbar-3dlight-color:#318e8a;
	scrollbar-darkshadow-Color:#318e8a;
	
	height: 100%;
	
	font-family: 'Lato', sans-serif;
}



/*----------------------------------------------*/
 .shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
 }
/*----------------------------------------------*/






::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #202020;
    }
::-webkit-scrollbar-thumb {
    background: #318E8A;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}












/*----------------------------------------------*/
body {
    font-size:18px;
    font-family:'Lato', sans-serif; 
    font-weight:lighter;
    color:#232323;
    line-height:30px;
    
    
    /*background:#dcdcdc url(/imgs/senses/black_back.jpg) no-repeat;*/
    /*background:#e7e7e7 url('/areas/senses/imgs/mainBack.jpg') no-repeat top left; cursor:pointer;*/
    background-color:#FFFFFF;
    margin:0px; 
    padding:0px;
    
    
    width:100%;
    height: 100%;
}



header, footer, nav, section {
    display: block;
}

img
{
	border:0px;
}




.Trans_BACK {
     background:#000000;
     
     filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
     opacity: 0.90;
     -moz-opacity:0.90;
     position:absolute;
     
     display:none; z-index:100000; position:absolute; top:0px; left:0px; width:1px; height:1px;
}

div.Trans_75
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
    opacity: 0.75;
    -moz-opacity:0.75;
}

#popupContainer
{
	display:none; z-index:100001; position:absolute; top:0px; left:0px; text-align:center;
}

#popupContainer_PopupPlayer
{
	display:none; z-index:100001; position:absolute; top:0px; left:0px; text-align:center;
}
/*-----------------------------------------------------------*/





/*-----------------------------------------------------------*/
input[type="text"] {
    width:230px; height:25px; line-height:25px; 
    font-size:16px;
    font-weight:lighter;
    color:#232323;
}

input[type="password"] {
    width:230px; height:25px; line-height:25px; 
    font-size:16px;
    font-weight:lighter;
    color:#232323;
}
/*-----------------------------------------------------------*/




#contCH1
{
    margin-top:100px;
}







.mnuItm
{
    width:365px;
    height:30px; line-height:30px; padding:5px 5px 5px 5px; cursor:pointer;
    background-color:#000000;
    border:1px solid #318E8A;
    border-radius:9px;
    color:#FFFFFF;
    margin:7px 0 0 0;
}


.mnuItmSearch
{
    float:left; width:100%; margin:0 0 7px 0;
}









.cir_1
{
    position:relative; top:0px; left:0px; width:500px; height:480px; border-radius:250px; background-color:#CDCDCD;
    
}

.cir_2
{
    position:relative; top:-360px; left:250px; width:800px; height:780px; border-radius:500px; background-color:#CDCDCD;
    
}






.cir_mic
{
    display:none;
    position:absolute; top:0px; left:0px; width:290px; height:290px; border-radius:145px;
    background:#ABABAB url('/areas/senses/imgs/mic_icon.png') no-repeat center; cursor:pointer;
    cursor:pointer;
    line-height:290px;
    text-align:center;
    font-size:14px;
    overflow:hidden;
    opacity:0.8;
}


.cir_sound
{
    display:none;
    position:absolute; top:0px; left:0px; width:90px; height:90px; border-radius:45px;
    background-color:#f5f3f3; 
    cursor:pointer;
    line-height:90px;
    text-align:center;
    font-size:14px;
    overflow:hidden;
}

.cir_back_btn
{
    position:absolute; top:0px; left:0px; width:90px; height:90px; border-radius:45px;
    background-color:#f5f3f3; 
    cursor:pointer;
    line-height:90px;
    text-align:center;
    font-size:14px;
    overflow:hidden;
    color:#000000;
}





#msgBox1
{
    float:left; width:65%; height:430px; overflow:auto; margin:150px 0 0 170px;
}



.faq_p
{
    width:10px; height:10px; background-color:#bcbcbc;
    margin:auto;
    border-radius:5px;
}



/* ----------------------------------- */


#mainCH1
{
    width:1080px; min-height:600px; margin:auto;
}




.ctL1
{
    float:left; width:50%; min-height:450px;
}

.ctR1
{
    float:left; width:50%; min-height:450px;
}


.playerMRootCH1
{
    float:left; width:100%; min-height:470px; border:1px solid #318E8A;
}

.PlayerctL1
{
    float:right; width:39%; margin:0px 1% 0 0;
}

.PlayerctR1
{
    float:right; width:59%; margin:5px 0 0 1%;
}


/* ----------------------------------- */







/* ----------------------------------- */
.mainMenuCH1
{
    float:left; width:100%; height:77px; overflow:hidden; margin:0px;
}

.chromeHomeIcn
{
    float:left; width:250px; height:64px; border:1px solid #348e8b; border-radius:10px;
}



.loginHomeBtn
{
    display:block; float:right; margin:43px 13px 0 0; color:#348e8b; text-decoration:none; font-size:22px;
}

.registerHomeBtn
{
    display:block; float:right; margin:43px 43px 0 0; color:#348e8b; text-decoration:none; font-size:22px;
}

.faqHomeBtn
{
    display:block; float:right; margin:43px 43px 0 0; color:#348e8b; text-decoration:none; font-size:22px;
}


#txtFrame
{
    float:left; width:314px; min-height:457px; margin:0 0 0 3px;
}

#txtFrameInnr
{
    float:left; width:96%; min-height:437px; margin:28px 0 0 0px; padding:1% 2% 2% 2%; background-color:#000000; border-radius:10px; color:#FFFFFF; font-size:18px; line-height:22px;
}

/* ----------------------------------- */







/* ----------------------------------- */

.homeBlkBox1
{
    float:left; width:100%; height:380px; padding:40px 0 0 0; margin:15px 0 0; background-color:Black; overflow:auto;
}

.myPlstsBlkBox1
{
    float:left; width:100%; height:304px; padding:10px 0 0 0; border:1px solid #000000; background-color:#000000; overflow:auto;
}


.chartsBlkBox1
{
    float:left; width:100%; height:390px; padding:30px 0 0 0; margin:15px 0 0; background-color:Black; overflow:auto;
}


.radioBlkBox1
{
    float:left; width:100%; height:390px; padding:30px 0 0 0; margin:15px 0 0; background-color:Black; overflow:auto;
}


.accountPlstBlkBox1
{
    float:left; width:100%; height:390px; padding:30px 0 0 0; margin:15px 0 0; background-color:Black; overflow:auto;
}


.searchBlkBox1
{
    float:left; width:100%; height:314px; border:1px solid #000000; background-color:#000000;
}


.manageAccountBlkBox1
{
    float:left; width:100%; height:390px; padding:30px 0 0 0; margin:15px 0 0 0; background-color:Black;
}


.renamePlstBlkBox1
{
    float:left; width:100%; height:420px; margin:15px 0 0 0; background-color:Black;
}

.acctInfoBlkBox1
{
    float:left; width:100%; height:304px; padding:10px 0 0 0; border:1px solid #000000; background-color:#000000;
}




.homeBlkBoxBorder1
{
    float:left; width:100%; min-height:450px; border:1px solid #318E8A;
}

.radioBlkBoxBorder1
{
    float:left; width:100%; min-height:450px; border:1px solid #318E8A;
}

.chartsBlkBoxBorder1
{
    float:left; width:100%; min-height:450px; border:1px solid #318E8A;
}


.manageAccountBlkBoxBorder1
{
    float:left; width:100%; min-height:450px; border:1px solid #318E8A;
}

/* ----------------------------------- */






/* ----------------------------------- */

#searchBar1
{
    float:left; width:320px; height:35px; line-height:35px; font-size:18px; background-color:#000000; border:1px solid #FFFFFF; border-radius:6px; color:#FFFFFF;
}

#searchBtn1
{
    float:left; width:100px; height:40px; line-height:40px; margin:0 0 0 10px; background-color:#318E8A; border-radius:3px; cursor:pointer; text-align:center;
}
/* ----------------------------------- */







.loginContLeft
{
    float:left; width:100%; height:314px; padding:30px 0 0 0; border:1px solid #000000; background-color:#000000;
}

.registerContLeft
{
    float:left; width:100%; height:360px; padding:30px 0 0 0; border:1px solid #000000; background-color:#000000;
}







.MainNHypPlayer #MainContHolder
{
	float:left; width:100%; margin:5px 0 0 0;
}


.MainNHypPlayer .MainPlayerHoder
{
	float:left; width:99%; height:380px; background-color:#000000; border:3px solid #000000; border-radius:3px;
}





.myplstMainTitle1
{
    margin:10px 0 20px 0; width:365px; height:30px; line-height:30px; padding:5px 5px 5px 5px; cursor:pointer; background-color:#000000; border:1px solid #318E8A; border-radius:9px; color:#FFFFFF; margin:7px 0 0 0; text-align:center; font-weight:bold;
}










.MainNHypPlayer .MainPlaylistHolder
{
	float:left; width:400px; height:382px; background-color:#000000; border:2px solid #000000; border-radius:3px; margin:5px 0 0 7px;
}

.MainNHypPlayer #PlayerPlaylistHolder1
{
	float:left; width:399px; height:380px; overflow:auto;
}

.MainNHypPlayer #dr_PlaylistList
{
	float:left; width:398px; height:30px; line-height:30px; margin:1px 1px 3px 1px; font-size:20px;  background-color:#323232; color:#EDEDED; border:none;
	
}


.MainNHypPlayer .playlistItemC
{
	float:left; width:98.5%; height:44px; overflow:hidden; background-color:#292929; margin:0 0 2px 2px; border-radius:1px;
}


.MainNHypPlayer .playlistItemC img
{
	float:left; width:50px; height:37px; margin:4px 0 0 4px; border-radius:3px; cursor:pointer;
}


.MainNHypPlayer .playlistItemC .songTtl
{
	float:left; width:265px; height:28px; line-height:28px; overflow:hidden; margin-left:10px; margin-top:4px; cursor:pointer; font-size:18px; color:#DEDEDE;
}


.MainNHypPlayer #player
{
	float:left; width:599px; height:340px;
}





.hmFeaturesBox1
{
    float:left; width:425px; height:340px; margin:1%; padding:1%; background-color:#efefef; border:1px solid #348e8b; border-radius:10px; margin:20px 0 0 10px;
}

#vidFrame
{
    float:right; margin:20px 10px 0 0; border:2px solid #000000; border-radius:3px;
}


.hmTopDescBox
{
    float:left; width:96%; margin:1%; padding:1%; background-color:#f8f8f8; border:1px solid #348e8b; border-radius:10px;
}


#hmPFBox1
{
    float:left; width:245px; height:184px; background-color:#f8f8f8; border:1px solid #348e8b; border-radius:10px; margin:0 0 10px 10px; padding:5px;
}

#hmPFBox2
{
    float:left; width:245px; height:184px; background-color:#f8f8f8; border:1px solid #348e8b; border-radius:10px; margin:0 0 10px 10px; padding:5px;
}

#hmPFBox3
{
    float:left; width:245px; height:184px; background-color:#f8f8f8; border:1px solid #348e8b; border-radius:10px; margin:0 0 10px 10px; padding:5px;
}

#hmPFBox4
{
    float:left; width:245px; height:184px; background-color:#f8f8f8; border:1px solid #348e8b; border-radius:10px; margin:0 0 10px 10px; padding:5px;
}


.hmFeaturesBox1 div
{
    float:left; width:98%; min-height:25px; line-height:25px; margin:2% 0 2% 2%;
}

