@{
    Layout = null;

}

 
<div class="gamehypeMCH_Home">
    
    
    <div class="hmGmHTitle" onclick="window.location='/gamehype';">
        FEATURED GAMERS
    </div>




    <div class="GmhItemsCont">
        
        <div onclick="window.location='/gamehype/stream/BestRivenNA';">
            <img alt="" src="/imgs/gamehype/gimgs/BestRivenNA.jpg" />
            <span>BestRivenNA</span>
        </div>

        <div onclick="window.location='/gamehype/stream/OxiChampion';">
            <img alt="" src="/imgs/gamehype/gimgs/OxiChampion.jpg"  />
            <span>OxiChampion</span>
        </div>

        <div onclick="window.location='/gamehype/stream/Ellohime';">
            <img alt="" src="/imgs/gamehype/gimgs/Ellohime.jpg"  />
            <span>Ellohime</span>
        </div>

        <div onclick="window.location='/gamehype/stream/BoxBox';">
            <img alt="" src="/imgs/gamehype/gimgs/Flosd.jpg" />
            <span>BoxBox</span>
        </div>

    </div>



    <div class="GmhBottomCont">
        <div onclick="window.location='/hypster/Gamers_Rewards_Program';">GAMERS REWARDS PROGRAM</div>
        <span>CLICK TO JOIN</span>
    </div>
    

</div>





