@{
    ViewBag.Title = "Video";
    ViewBag.Desc = "Video";
    ViewBag.ActivePage = "";
}

<script type="text/javascript">
    $(document).ready(function () { RenderPage(); RenderConnect(); });
    $(window).resize(function () { RenderPage(); RenderConnect(); });
</script>










<div class="boxContRight">
    <div class="slideRight" style=" min-height:355px; ">

           <script type="text/javascript" src="http://pshared.5min.com/Scripts/PlayerSeed.js?sid=1692&amp;width=570&amp;height=351&amp;playList=518035726,518035506,518035266,518034543,518034533,518033828,518031803,518031497,518029148,518028989,518028865,518028739,518028682,518028438,518027453,518026835,518025449,518025423,518025407,518025402&amp;sequential=1&amp;shuffle=0"></script>

    </div>
</div>

