@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}






<div style=" float:left; width:100%; margin:30px 0 0 0; " >


    <div style=" float:left; width:680px; min-height:250px; border-radius:3px; border-radius:2px; text-align:left; padding:10px;">
            
        <div style=" float:left; width:95%; margin:5px 0 0 20px;">            
            @using (Html.BeginForm())
            {
                <div style=" float:left; width:100%; text-align:left;">
                                
                    <div style=" font-size:27px;">
                        Activate Account
                    </div>
                                
                    <div style=" margin-top:10px;">
                        <span>User Name</span><br />
                        <input type="text" id="user_name" name="user_name" style=" width:400px; height:22px;" />
                        <br /><br />
                        <span style="  font-weight:bold;">OR</span><br />
                        <br />
                        <span>Email</span><br />
                        <input type="text" id="email" name="email" style=" width:400px; height:22px; margin-top:5px;" />
                    </div>
                </div>
                
                
                <div style=" float:left; width:100%; text-align:right;">
                    <input type="submit" value="Submit" style=" width:150px; height:30px; margin-top:5px;" />
                </div>
            }
        </div>

    </div>



   


</div>

