@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";

    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com/hypster/about_us\" >";
}

<div class="aboutMCH">
    <div class="abtDesc">
        
        <div class="abtCol1">
            It’s where music and gaming collide. It’s where you go when you live for the latest remix and the next match. It’s your daily destination when your gaming requires an epic soundtrack. Boasting live streaming and curated playlists by many of the world’s top gamers, Hypster goes one step beyond, offering custom players, breaking music and gaming news, and a little bit of indescribable magic. <br />
            <br />
            With upwards of 6 million registered users, Hypster has spent the better part of the decade allowing music lovers to create and share what they love within our legendary library. Better yet, we've allowed them to discover artists worth knowing and songs worth hearing — painlessly, seamlessly . . . and enjoyably, the way it was intended to be. <br />
            <br />
            <div style=" color:#d4ae52; font-weight:bold; margin:30px 0 0 0;">About that indescribable magic?</div>
            <div style=" margin:9px 0 0 0;">Life (and gaming) is better with more music.</div>
        </div>

    </div>
</div>


