@{
    ViewBag.Title = "Hypster - hypster on mobile ";
    ViewBag.Desc = "";
    Layout = "~/Views/Shared/_Layout_SP.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>







<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:600px;">
            
            <div style=" float:left; width:1024px;">

                <div style=" float:left; width:100%;">
                    <div style=" float:left; width:480px; height:40px; line-height:40px; font-size:26px;  font-weight:bold; color:#FCF088; ">
                        Hypster is available on mobile devices
                    </div>
                    <a href="/account/Register" style=" display:block; float:left; background-color:#d28805; border-radius:2px; font-size:23px; padding:5px 20px 5px 20px;">
                        Register Now    
                    </a>
                </div>

                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_1.jpg" style=" float:left; margin:40px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:right; width:304px; margin-left:50px; ">                
                    
                    <div class="HOM_Ad1">
                        <!-- 06_11 -->
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                    
                    <div class="HOM_Ad2">
                        <!-- 06_11 -->
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                </div>

            </div>

     </div>
</div>





<div class="boxContLeft">
    <div id="listenSlide1" class="slideLeft" style=" min-height:600px;">
            

            <div style=" float:right; width:1024px;">

                <div style=" width:750px; font-size:26px; line-height:28px; font-weight:bold; color:#FCF088; ">
                    You can create, manage, listen, playlists, players, radio and generate code to embed player on tumblr
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_2.jpg" style=" float:left; margin:40px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:right; width:304px; margin-left:50px; ">                
                    
                    <div class="HOM_Ad1">
                        <!-- 06_11 -->
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                    
                    <div class="HOM_Ad2">
                        <!-- 06_11 -->
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                </div>

            </div>


    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide2" class="slideRight" style=" min-height:600px;">
            

            <div style=" float:left; width:1024px;">

                <div style=" width:750px; font-size:26px; line-height:28px; font-weight:bold; color:#FCF088; ">
                    Listen to your playlists on the go
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_3.jpg" style=" float:left; margin:40px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:right; width:304px; margin-left:50px; ">                
                    
                    <div class="HOM_Ad1">
                        <!-- 06_11 -->
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                    
                    <div class="HOM_Ad2">
                        <!-- 06_11 -->
                        <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default" width="300" height="250" scrolling="no" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    </div>
                </div>

            </div>

    </div>
</div>





