@{
    ViewBag.Title = "Create Free Playlist | Hypster - free music online - player for tumblr";
    ViewBag.Desc = "Create free playlists, and listen commercial free music.";
    Layout = "~/Areas/m/Views/Shared/_Layout_Mobile.cshtml";
}

<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("background-color", "#191919");
    $("#CreateSub").css("display", "block");

    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>







<div class="boxContLeft boxContRightTop">
    <div class="slideLeft" style=" width:100%; height:55px;">
            
            @if (User.Identity.IsAuthenticated == false)
            {
                <div onclick="window.location='/m/maccount/Register';" style="float:right; width:220px; height:40px; line-height:40px; margin-top:10px; background-color:#59666c; border-bottom:1px solid #4d5a60; border-right:1px solid #4d5a60; border-radius:2px; cursor:pointer; text-align:center; font-size:21px; color:#FCF088; font-weight:bold; ">
                    Register
                </div>
                
                <div onclick="window.location='/m/maccount/SignIn?ReturnUrl=%2fcreate%2fplaylist';" style="float:right; width:790px; height:40px; line-height:40px; margin-top:10px; background-color:#59666c; border-bottom:1px solid #4d5a60; border-right:1px solid #4d5a60; border-radius:2px; cursor:pointer; text-align:center; font-size:21px; color:#FCF088; font-weight:bold; margin-right:10px; ">
                    Login to create playlist
                </div>
            }

    </div>
</div>








<div class="boxContRightB">
    <div id="listenSlide1" class="slideRight" style=" min-height:600px; background-color:#202020; ">
        

        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;START CREATING AN ONLINE PLAYLIST BY SEARCHING FOR SONGS</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/playlists/1.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>


        <div style=" float:left; width:100%; color:#FCF088;">
            <h2>OR</h2>
        </div>
        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;ADD SONGS BY LISTENING TO OTHER PLAYLISTS, CHARTS OR FESTIVALS</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/playlists/2.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>



        <div style=" float:left; width:100%; color:#FCF088;">
            <h2>OR</h2>
        </div>
        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;FIND SIMILAR PLAYLISTS BY USING THE COMPATIBILITY TOOL</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/playlists/3.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>



        
        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;EASILY MANAGE YOUR PLAYLISTS (EDIT, DELETE, ORDER, SHARE)</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/playlists/4.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>




       


    </div>
</div>








<div class="boxContLeft">
    <div id="listenSlide2" class="slideLeft" style=" min-height:95px;">
            
            <div class="ManualDtAdCont">
                

                @if (User.Identity.IsAuthenticated == false)
                {
                    <div class="NPFT_GoOnTop" onclick="window.location='/m/account/SignIn?ReturnUrl=%2fcreate%2fplaylist';">LOGIN</div>
                }
                else
                {
                    <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">Go To Top</div>
                }
            </div>

    </div>
</div>