@{
    ViewBag.Title = "Create Station | free music online ";
    ViewBag.Desc = "Create station with only for your favorite singer or band.";
    Layout = "~/Areas/m/Views/Shared/_Layout_Mobile.cshtml";
}

<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("background-color", "#191919");
    $("#CreateSub").css("display", "block");

    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>







<div class="boxContLeft boxContRightTop">
    <div class="slideLeft" style=" min-height:80px;">
            

           

            @if (User.Identity.IsAuthenticated == false)
            {
                <div onclick="window.location='/m/maccount/SignIn?ReturnUrl=%2fcreate%2fstation';" style="float:right; width:1020px; height:40px; line-height:40px; margin-top:17px; background-color:#59666c; border-bottom:1px solid #4d5a60; border-right:1px solid #4d5a60; border-radius:2px; cursor:pointer; text-align:center; font-size:21px; color:#FCF088; font-weight:bold; ">
                    Login to create own music station
                </div>
            }

    </div>
</div>





<div class="boxContRight" id="RDSA">
    <div class="slideRight" style=" min-height:600px; background-color:#111111; ">
        

        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;HYPSTER ALLOWS YOU TO CREATE STATIONS BASED ONLY ON ARTISTS THAT YOU WANT!!!</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/station/1.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>


        
        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;IT'S SIMPLE TO GET STARTED - JUST ENTER THE ARTISTS NAME OR SEARCH A TERM</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/station/2.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>



        <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
            <h2>&nbsp;LISTEN TO SONGS OF YOUR FAVORITE ARTISTS WITHOUT RESTRICTIONS AND INTERUPTIONS</h2>
        </div>
        <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
            <img alt="" src="/imgs/pr_tour/station/3.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
        </div>


    </div>
</div>





<div class="boxContLeft">
    <div class="slideLeft" style=" min-height:95px;">
            
            <div class="ManualDtAdCont">
                

                @if (User.Identity.IsAuthenticated == false)
                {
                    <div class="NPFT_GoOnTop" onclick="window.location='/m/maccount/SignIn?ReturnUrl=%2fcreate%2fstation';">LOGIN</div>
                }
                else
                {
                    <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">Go To Top</div>
                }
            </div>

    </div>
</div>
