@{
    ViewBag.Title = "Tumblr music player for free, lot of skins.";
    ViewBag.Desc = "Create music player for tumblr or website, easily configure, modify playlist without code changes";
    Layout = "~/Areas/m/Views/Shared/_Layout_Mobile.cshtml";
}

<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("background-color", "#191919");
    $("#CreateSub").css("display", "block");

    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>




<div class="boxContLeft boxContRightTop">
    <div class="slideLeft" style=" width:100%; height:55px;">
            
            @if (User.Identity.IsAuthenticated == false)
            {
                <div onclick="window.location='/m/maccount/Register';" style="float:right; width:220px; height:40px; line-height:40px; margin-top:10px; background-color:#59666c; border-bottom:1px solid #4d5a60; border-right:1px solid #4d5a60; border-radius:2px; cursor:pointer; text-align:center; font-size:21px; color:#FCF088; font-weight:bold; ">
                    Register
                </div>
                
                <div onclick="window.location='/m/maccount/SignIn?ReturnUrl=%2fcreate%2fplayer';" style="float:right; width:790px; height:40px; line-height:40px; margin-top:10px; background-color:#59666c; border-bottom:1px solid #4d5a60; border-right:1px solid #4d5a60; border-radius:2px; cursor:pointer; text-align:center; font-size:21px; color:#FCF088; font-weight:bold; margin-right:10px; ">
                    Login to create player
                </div>
            }

    </div>
</div>




<div class="boxContRightB">
    <div class="slideRight" style=" min-height:400px; background-color:#202020;">
        
            
            <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
                <h2>&nbsp;CREATE PLAYER FOR YOUR BLOG</h2>
            </div>
            <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
                <img alt="" src="/imgs/pr_tour/player/1.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
            </div>


            
            <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
                <h2>&nbsp;YOU WILL NEED TO HAVE A PLAYLIST TO GENERATE A PLAYER</h2>
            </div>
            <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
                <img alt="" src="/imgs/pr_tour/player/2.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
            </div>


            
            <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
                <h2>&nbsp;CHOOSE SKIN AND CUSTOMIZE SETTINGS</h2>
            </div>
            <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
                <img alt="" src="/imgs/pr_tour/player/3.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
            </div>




            <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
                <h2>&nbsp;CLICK "GET CODE" WHEN DONE</h2>
            </div>
            <div style=" float:left; width:100%; margin-top:15px; margin-bottom:15px;">
                <img alt="" src="/imgs/pr_tour/player/4.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
            </div>



            <div style=" float:left; width:100%; color:#FFFFFF; background-color:#375462; border-radius:2px;">
                <h2>&nbsp;GENERATE PLAYER CODE AND PLACE ON YOUR BLOG</h2>
            </div>
            <div style=" float:left; width:100%; margin-top:15px;">
                <img alt="" src="/imgs/pr_tour/player/5.jpg" style=" float:left; border:3px solid #375462; border-radius:3px; " />
            </div>


    </div>
</div>









<div class="boxContLeft">
    <div class="slideLeft" style=" min-height:95px;">
        
            <div class="ManualDtAdCont" >
               
                @if (User.Identity.IsAuthenticated == false)
                {
                    <div class="NPFT_GoOnTop" onclick="window.location='/m/maccount/SignIn?ReturnUrl=%2fcreate%2fplayer';">LOGIN</div>
                }
                else
                {
                    <div class="HTUH_GoOnTop" onclick="$(document).scrollTop(0);">Go To Top</div>
                }
            </div>
           
    </div>
</div>