@model hypster.ViewModels.createViewModel
@{
    ViewBag.Title = "Create free playlist | online playlist";
    ViewBag.Desc = "Create online music playlist, and listen commercial free music.";
    Layout = "~/Areas/m/Views/Shared/_Layout_Mobile.cshtml";
    ViewBag.ActivePage = "create";
}




<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("background-color", "#191919");
    $("#CreateSub").css("display", "block");

    $(document).ready(function () { RenderPage(); RenderCreate(); });
    $(window).resize(function () { RenderPage(); ReRenderCreate(); });
</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight" style=" min-height:420px;">

            

            <div id="CreateSection1" onclick="window.location='/m/maccount/SignIn';" title="Create player for Tumblr or Blogger" onmouseover="$('#CreateSection1_ST1').css('display','none'); $('#CreateSection1_ST2').css('display','block');" onmouseout="$('#CreateSection1_ST2').css('display','none'); $('#CreateSection1_ST1').css('display','block'); ">
                
                <div id="CreateSection1_ST1">
                    <div class="secImgs">
                        <img id="CreateSection1_img" alt="" src="/imgs/create/create_player_icon.png" style=" width:80%;" />
                    </div>
                    <div class="secText">&nbsp;Create Player</div>
                </div>

                <div id="CreateSection1_ST2" style=" display:none; width:98%; margin-left:1%; margin-top:-30px; font-size:16px; line-height:24px;">
                    <div style="font-size:26px; font-weight:bold; margin-top:65px;">&nbsp;Create Player</div>
                    Looking for a Tumblr music player or a way to feature your favorite artists on your blog? Creating a player
                    allows you to place a customizable playlist on your site, making it
                    easy to share the music you are currently into.
                    <br />
                    <div class="radioButton" style=" width:70%; margin:10px 0 0 15%;">Login</div>
                </div>

            </div>



            <div id="CreateSection2" onclick="window.location='/m/maccount/SignIn';" title="Create Playlist" onmouseover="$('#CreateSection2_ST1').css('display','none'); $('#CreateSection2_ST2').css('display','block');" onmouseout="$('#CreateSection2_ST2').css('display','none'); $('#CreateSection2_ST1').css('display','block'); ">
                
                <div id="CreateSection2_ST1">
                    <div class="secImgs">
                        <img id="CreateSection2_img" alt="" src="/imgs/create/create_playlist_icon.png" style=" width:80%;" />
                    </div>
                    <div class="secText">Create Playlist</div>
                </div>

                <div id="CreateSection2_ST2" style=" display:none; margin-top:0px; font-size:16px; line-height:24px;">
                    <div style="font-size:26px; font-weight:bold; margin-top:65px;">Create Playlist</div>
                    Build a playlist using our extensive catalogue of music to share with
                    others on your blog or website. Listen to it anywhere you have access
                    to the Internet.
                    <br />
                    <div class="radioButton" style=" width:70%; margin:10px 0 0 15%;">Login</div>
                </div>

            </div>



            <div id="CreateSection3" onclick="window.location='/m/maccount/SignIn';" title="Create Radio Station" onmouseover="$('#CreateSection3_ST1').css('display','none'); $('#CreateSection3_ST2').css('display','block');" onmouseout="$('#CreateSection3_ST2').css('display','none'); $('#CreateSection3_ST1').css('display','block'); ">
                
                <div id="CreateSection3_ST1">
                    <div class="secImgs">
                        <img id="CreateSection3_img" alt="" src="/imgs/create/create_station_icon.png" style=" width:80%;" />
                    </div>
                    <div class="secText">Create Station</div>
                </div>

                <div id="CreateSection3_ST2" style=" display:none; margin-top:0px; font-size:16px; line-height:24px;">
                    <div style="font-size:26px; font-weight:bold; margin-top:65px;">Create Station</div>
                    Want to find some new music?<br /> Tell us your favorite Artist,<br /> Song or
                    Genre and we’ll use this information to create a music<br /> station for
                    you.
                    <br />
                    <div class="radioButton" style=" width:70%; margin:10px 0 0 15%;">Login</div>
                </div>

            </div>

    </div>
</div>










<div class="boxContLeft">
    <div id="listenSlide2" class="slideLeft" style=" min-height:490px;">
            @Html.Partial("~/Areas/m/Views/mHome/pr_HomExpCont.cshtml")
    </div>
</div>




<div class="boxContRight">
    <div class="slideRight" style=" min-height:60px;">

    </div>
</div>




<div class="boxContLeft">
    <div class="slideLeft" style=" min-height:430px;">
            @Html.Action("pr_HomPopularCont", "mhome")
    </div>
</div>


