@model List<hypster_tv_DAL.homeSlideshow>
@{
    Layout = null;
}

@{int slideshow_length = 12;}
<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-speed="500" data-cycle-timeout="3000" data-cycle-pager=".SlideshowBultesCont" data-cycle-pager-template="">

    @{int sld_num = 1;}
    @foreach (var item in Model)
    {
        <img id="HomeSlide@(sld_num)" class="sldShI" style="width:100%; height:100%; @if(sld_num > 1){ <text>display:none;</text> } " alt="" src="/imgs/home/home_slideshow/@item.ImageSrc" onclick="window.location='@item.href';" />
        sld_num = sld_num + 1;

        if (sld_num == slideshow_length)
        {
            break;
        }
    }
</div>


<div class="SlideshowBultesCont">
    @for (var i = 1; i <= slideshow_length; i++)
    {
        <div class="slideBulet" onclick="opnSlide('@i');"></div>
    }
</div>