@{
    Layout = null;
}

<div style="float:left; width:100%;">
    <a class="TBsimilar" href="/apps/appcreate/player">
        <div class="TBHead"><h2 style="font-weight:300;">Tumblr Music Player</h2></div>
        <div class="TBBody">
            <div class="TBBodyT">Looking for a tumblr music player widget or a way to feature your favorite artists on your blog? Creating a player allows you to place a customizable playlist on your site, making it easy to share the music you are currently into.</div>
        </div>
    </a>

    <a class="TBCharts" href="/apps/appcreate/playlist">
        <div class="TBHead"><h2 style="font-weight:300;">Create Music Playlist</h2></div>
        <div class="TBBody">
            <div class="TBBodyT">Build a playlist using our extensive catalogue of music to share with others on your blog or website. Listen to it anywhere you have access to the Internet.</div>
        </div>
    </a>
</div>
